schemas/us-net-el/3.0/ElectricityNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/3.0" xmlns:us-net-el="http://inspire.ec.europa.eu/schemas/us-net-el/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-el/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Name --
electricity utility network 

-- Definition --
Electricity network sub-domain.</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/3.0" schemaLocation="../../schemas/us-net-common/3.0/UtilityNetworksCommon.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="ElectricityCable" type="us-net-el:ElectricityCableType" substitutionGroup="us-net-common:Cable">
		<annotation>
			<documentation>-- Name --
electricity cable

-- Definition --
A utility link or link sequence used to convey electricity from one location to another.</documentation>
		</annotation>
	</element>
	<complexType name="ElectricityCableType">
		<complexContent>
			<extension base="us-net-common:CableType">
				<sequence>
					<element name="operatingVoltage" nillable="true">
						<annotation>
							<documentation>-- Name --
operating voltage

-- Definition --
The utilization or operating voltage by the equipment using the electricity.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:MeasureType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="nominalVoltage" nillable="true">
						<annotation>
							<documentation>-- Name --
nominal voltage

-- Definition --
The nominal system voltage at the point of supply.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:MeasureType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ElectricityCablePropertyType">
		<sequence minOccurs="0">
			<element ref="us-net-el:ElectricityCable"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
