inspire/schemas/us-net-sw/3.0/SewerNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/3.0" xmlns:us-net-sw="http://inspire.ec.europa.eu/schemas/us-net-sw/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-sw/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Name --
sewer utility network

-- Definition --
Sewer network sub-domain.</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/3.0" schemaLocation="../../schemas/us-net-common/3.0/UtilityNetworksCommon.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="SewerPipe" type="us-net-sw:SewerPipeType" substitutionGroup="us-net-common:Pipe">
		<annotation>
			<documentation>-- Name --
sewer pipe

-- Definition --
A sewer pipe used to convey wastewater (sewer) from one location to another.</documentation>
		</annotation>
	</element>
	<complexType name="SewerPipeType">
		<complexContent>
			<extension base="us-net-common:PipeType">
				<sequence>
					<element name="sewerWaterType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>-- Name --
sewer water type

-- Definition --
Type of sewer water.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SewerPipePropertyType">
		<sequence minOccurs="0">
			<element ref="us-net-sw:SewerPipe"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
