schemas/hy/4.0/HydroBase.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="http://inspire.ec.europa.eu/schemas/gn/4.0" xmlns:hy="http://inspire.ec.europa.eu/schemas/hy/4.0" xmlns:hy-n="http://inspire.ec.europa.eu/schemas/hy-n/4.0" xmlns:hy-p="http://inspire.ec.europa.eu/schemas/hy-p/4.0" xmlns:sr="http://inspire.ec.europa.eu/schemas/sr/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/hy/4.0" version="4.0">
  <annotation>
    <documentation>-- Definition --
This package provides base classes used to identify real-world objects. These identities may be used to provide implicit semantic associations between different 'implementation views'.

-- Description --
EXAMPLE: A real-world object identified as the 'Rhine' may be realised through a Network view (as a set of links and nodes), a Physical Waters view (as a Watercourse), and a reporting view (as a WFDRiver).</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/gn/4.0" schemaLocation="../../schemas/gn/4.0/GeographicalNames.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/hy-n/4.0" schemaLocation="../../schemas/hy-n/4.0/HydroNetwork.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/hy-p/4.0" schemaLocation="../../schemas/hy-p/4.0/HydroPhysicalWaters.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/sr/4.0" schemaLocation="../../schemas/sr/4.0/SeaRegions.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="HydroIdentifier" substitutionGroup="gml:AbstractObject" type="hy:HydroIdentifierType">
    <annotation>
      <documentation>-- Definition --
A hydrographic thematic identifier.

-- Description --
NOTE May be used to hold a national hydrological identification code.</documentation>
    </annotation>
  </element>
  <complexType name="HydroIdentifierType">
    <sequence>
      <element minOccurs="0" name="classificationScheme" type="string">
        <annotation>
          <documentation>-- Definition --
A description of the identification scheme (National, European, etc.) being used.</documentation>
        </annotation>
      </element>
      <element name="localId" type="string">
        <annotation>
          <documentation>-- Definition --
A local identifier, assigned by some authority.

-- Description --
NOTE It will often be a national hydrographic identifier.</documentation>
        </annotation>
      </element>
      <element name="namespace" type="string">
        <annotation>
          <documentation>-- Definition --
An indicator of the scope for the local identifier.

-- Description --
NOTE In the case of a national hydrographic identifier it should be a two-letter country code as per ISO 3166-1-Alpha-2.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HydroIdentifierPropertyType">
    <sequence>
      <element ref="hy:HydroIdentifier"/>
    </sequence>
  </complexType>
  <complexType name="HydroObjectPropertyType">
    <choice minOccurs="0">
      <element ref="hy-p:DrainageBasin"/>
      <element ref="hy-n:HydroNode"/>
      <element ref="hy-p:HydroPointOfInterest"/>
      <element ref="hy-p:ManMadeObject"/>
      <element ref="sr:SeaArea"/>
      <element ref="hy-p:Shore"/>
      <element ref="sr:Shoreline"/>
      <element ref="hy-p:SurfaceWater"/>
      <element ref="hy-n:WatercourseLink"/>
      <element ref="hy-n:WatercourseLinkSequence"/>
      <element ref="hy-n:WatercourseSeparatedCrossing"/>
      <element ref="hy-p:Wetland"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
