schemas/er-v/4.0/EnergyResourcesVector.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:am="http://inspire.ec.europa.eu/schemas/am/4.0" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:er-b="http://inspire.ec.europa.eu/schemas/er-b/4.0" xmlns:er-v="http://inspire.ec.europa.eu/schemas/er-v/4.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="http://inspire.ec.europa.eu/schemas/gn/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/er-v/4.0" version="4.0">
  <annotation>
    <documentation>-- Name --
Energy Resources Vector application schema</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/am/4.0" schemaLocation="../../schemas/am/4.0/AreaManagementRestrictionRegulationZone.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="../../schemas/base2/2.0/BaseTypes2.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/er-b/4.0" schemaLocation="../../schemas/er-b/4.0/EnergyResourcesBase.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/gn/4.0" schemaLocation="../../schemas/gn/4.0/GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CalorificRangeType" substitutionGroup="gml:AbstractObject" type="er-v:CalorificRangeTypeType">
    <annotation>
      <documentation>-- Name --
Calorific range type

-- Definition --
Value indicating the upper and lower bounds of the calorific range of the energy resource.</documentation>
    </annotation>
  </element>
  <complexType name="CalorificRangeTypeType">
    <sequence>
      <element name="lowerBound" type="gml:MeasureType">
        <annotation>
          <documentation>-- Name --
Lower bound

-- Definition --
Value indicating the lower bound of the calorific range.

-- Description --
NOTE the unit of measure to be used is the SI unit kJ/kg.</documentation>
        </annotation>
      </element>
      <element name="upperBound" type="gml:MeasureType">
        <annotation>
          <documentation>-- Name --
Upper bound

-- Definition --
Value indicating the upper bound of the calorific range.

-- Description --
NOTE the unit of measure to be used is the SI unit kJ/kg.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CalorificRangeTypePropertyType">
    <sequence>
      <element ref="er-v:CalorificRangeType"/>
    </sequence>
  </complexType>
  <element name="CalorificValueType" substitutionGroup="gml:AbstractObject" type="er-v:CalorificValueTypeType">
    <annotation>
      <documentation>-- Name --
Calorific value type.

-- Definition --
Value or range of values describing the calorific value of an Energy Resource.</documentation>
    </annotation>
  </element>
  <complexType name="CalorificValueTypeType">
    <choice>
      <element name="calorificRange" type="er-v:CalorificRangeTypePropertyType">
        <annotation>
          <documentation>-- Name --
Calorific range

-- Definition --
A range of calorific values describing the calorific value of an Energy Resource.</documentation>
        </annotation>
      </element>
      <element name="calorificScalar" type="gml:MeasureType">
        <annotation>
          <documentation>-- Name --
Calorific scalar

-- Definition --
Measure quantifying the calorific property of an Energy Resource.

-- Description --
NOTE the unit of measure to be used is the SI unit kJ/kg.</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="CalorificValueTypePropertyType">
    <sequence>
      <element ref="er-v:CalorificValueType"/>
    </sequence>
  </complexType>
  <element name="ExploitationPeriodType" substitutionGroup="gml:AbstractObject" type="er-v:ExploitationPeriodTypeType">
    <annotation>
      <documentation>-- Name --
Exploitation period type

-- Definition --
The exploitationPeriod defines the start and, if applicable, the end date of the exploitation or application.</documentation>
    </annotation>
  </element>
  <complexType name="ExploitationPeriodTypeType">
    <sequence>
      <element name="beginTime" type="gml:TimePositionType">
        <annotation>
          <documentation>-- Name --
Begin time

-- Definition --
The time when the exploitation started.

-- Description --
This is both for renewable and non-renewable energy sources. For non-renewable energy resources exploitation starts with certain mining activities. In the case of renewable energy resources, it starts with the extraction of energy using specific equipment.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="endTime" type="gml:TimePositionType">
        <annotation>
          <documentation>-- Name --
End time

-- Definition --
The time when the exploitation ended.

-- Description --
This is both for renewable and non-renewable energy sources. For non-renewable energy resources exploitation ends with stopping the mining activities. In the case of renewable energy resources, it ends when specific equipment is no longer used for extraction of renewable and waste energy.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ExploitationPeriodTypePropertyType">
    <sequence>
      <element ref="er-v:ExploitationPeriodType"/>
    </sequence>
  </complexType>
  <element name="FossilFuelMeasure" substitutionGroup="gml:AbstractObject" type="er-v:FossilFuelMeasureType">
    <annotation>
      <documentation>-- Name --
Fossil fuel measure

-- Definition --
Amount of resources according to the specific categorisation.</documentation>
    </annotation>
  </element>
  <complexType name="FossilFuelMeasureType">
    <sequence>
      <element name="amount" type="gml:MeasureType">
        <annotation>
          <documentation>-- Name --
Amount

-- Definition --
Amount of resource present in the spatial object.

-- Description --
NOTE the unit of measure to be used is standard m³ for natural gas assuming reference gas conditions (15° C; 101,325 kPa) and 10³ tonnes for solid fossil fuels and oil.</documentation>
        </annotation>
      </element>
      <element name="dateOfDetermination" type="gml:TimePositionType">
        <annotation>
          <documentation>-- Name --
Date of determination

-- Definition --
Date on which the resource was quantified.</documentation>
        </annotation>
      </element>
      <element name="resourceClass" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
Resource class

-- Definition --
Category indicating the different confidence levels of fossil fuel resources for distinguishing real from potential or expected amount of fossil fuels.

-- Description --
A particular class within the classification framework.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FossilFuelMeasurePropertyType">
    <sequence>
      <element ref="er-v:FossilFuelMeasure"/>
    </sequence>
  </complexType>
  <element name="FossilFuelResource" substitutionGroup="er-v:VectorEnergyResource" type="er-v:FossilFuelResourceType">
    <annotation>
      <documentation>-- Name --
Fossil fuel resource

-- Definition --
A spatial object defining an inferred or observable spatial extent of a resource that can be, or has been used as a source of fossil fuel energy.  The most common fossil fuel types are coal, natural gas and crude oil. 

-- Description --
&lt;font color="#222226"&gt;Solid fossil fuels are those non-renewable hydrocarbon energy resources that are naturally found in the solid state i.e. coals and peat. Hydrocarbons cover various types of natural gas and petroleum resources.&lt;/font&gt;</documentation>
    </annotation>
  </element>
  <complexType name="FossilFuelResourceType">
    <complexContent>
      <extension base="er-v:VectorEnergyResourceType">
        <sequence>
          <element name="dateOfDiscovery" nillable="true" type="gml:TimePositionType">
            <annotation>
              <documentation>-- Name --
Date of discovery

-- Definition --
The date the energy source was discovered.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="resource" type="er-v:FossilFuelResourceTypePropertyType">
            <annotation>
              <documentation>-- Name --
Resource

-- Definition --
Type and amount of fossil fuel resources in a single spatial object.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FossilFuelResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="er-v:FossilFuelResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FossilFuelResourceType" substitutionGroup="gml:AbstractObject" type="er-v:FossilFuelResourceTypeType">
    <annotation>
      <documentation>-- Name --
Resource type

-- Definition --
Type and amount of resource according to specific categorisation.</documentation>
    </annotation>
  </element>
  <complexType name="FossilFuelResourceTypeType">
    <sequence>
      <element name="calorificValue" nillable="true">
        <annotation>
          <documentation>&lt;font color="#222226"&gt;-- Name --&lt;/font&gt;
&lt;font color="#222226"&gt;Calorific value&lt;/font&gt;
&lt;font color="#222226"&gt;
&lt;/font&gt;&lt;font color="#222226"&gt;-- Definition --&lt;/font&gt;
&lt;font color="#222226"&gt;Each fossil fuel resource is characterised by its own calorific value, i.e. the quantity of energy available in a unit of mass.&lt;/font&gt;
&lt;font color="#222226"&gt;
&lt;/font&gt;&lt;font color="#222226"&gt;-- Description --&lt;/font&gt;
&lt;font color="#222226"&gt;NOTE the unit of measure to be used is MJ/tonne for solid fossil fuels, MJ/tonne for oil and KJ/m³ for natural gas &lt;/font&gt;assuming reference gas conditions (15°C; 101,325 kPa)</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="er-v:CalorificValueType"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="quantity" nillable="true">
        <annotation>
          <documentation>-- Name --
Quantity

-- Definition --
Amount of resource according to the specific categorisation.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="er-v:FossilFuelMeasure"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="typeOfResource" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
Type of resource

-- Definition --
Type of fossil fuel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FossilFuelResourceTypePropertyType">
    <sequence>
      <element ref="er-v:FossilFuelResourceType"/>
    </sequence>
  </complexType>
  <element name="RenewableAndWasteResource" substitutionGroup="er-v:VectorEnergyResource" type="er-v:RenewableAndWasteResourceType">
    <annotation>
      <documentation>-- Name --
Renewable and waste resource

-- Definition --
A spatial object defining an inferred or observable spatial extent of a resource that can be, or has been used as a source of renewable energy or waste.

-- Description --
&lt;font color="#222226"&gt;Renewable energy is energy that is naturally occurring and theoretically inexhausatable that is not derived from fossil or nuclear fuel. Waste is a fuel that may consist of many materials coming from combustible industrial, institutional, hospital and household wastes such as rubber, plastics, waste fossil oils and other similar commodities. It is either solid or liquid in form, renewable or non-renewable, biodegradable or non-biodegradable.&lt;/font&gt;</documentation>
    </annotation>
  </element>
  <complexType name="RenewableAndWasteResourceType">
    <complexContent>
      <extension base="er-v:VectorEnergyResourceType">
        <sequence>
          <element minOccurs="0" name="Capacity" nillable="true">
            <annotation>
              <documentation>-- Name --
Capacity

-- Definition --
Energy capacity of a renewable energy resource within the spatial object.

-- Description --
NOTE the unit of measure to be used is MWe for electrical generation capacity and MWt for heat generation capacity.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="dateOfDetermination" nillable="true" type="gml:TimePositionType">
            <annotation>
              <documentation>-- Name --
Date of determination

-- Definition --
Date on which the capacity of the resource has been determined.</documentation>
            </annotation>
          </element>
          <element name="typeOfResource" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
Type of resource

-- Definition --
The type of renewable energy or waste resource.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RenewableAndWasteResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="er-v:RenewableAndWasteResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VectorEnergyResource" substitutionGroup="gml:AbstractFeature" type="er-v:VectorEnergyResourceType">
    <annotation>
      <documentation>-- Name --
Vector Energy Resource

-- Definition --
A vector spatial object defining an inferred or observable spatial extent of a resource that can be or has been used as a source of energy.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="VectorEnergyResourceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="ClassificationAndQuantificationFramework" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
Classification and quantification framework

-- Definition --
A reference classification scheme to classify and quantify energy resources.

-- Description --
NOTE in most cases, only applicable to fossil fuels.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="exploitationPeriod" nillable="true">
            <annotation>
              <documentation>-- Name --
Exploitation period

-- Definition --
The exploitationPeriod defines the start and, if applicable, the end date of the application.

-- Description --
NOTE For several reasons there might be more than 1 exploitation period</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="er-v:ExploitationPeriodType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Name --
Geometry

-- Definition --
Geometric representation of spatial extent covered by this energy resource.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="reportingAuthority" nillable="true">
            <annotation>
              <documentation>-- Name --
Reporting authority

-- Definition --
Organisation responsible for reporting on the estimated and produced energy resources.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base2:RelatedParty"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="resourceName" nillable="true">
            <annotation>
              <documentation>-- Name --
Resource name

-- Definition --
The name of the energy resource

-- Description --
NOTE For fossil fuels this name is the official name, as it&amp;rsquo;s registered in the national register governed by geological survey or other national authority in charge.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="verticalExtent" nillable="true">
            <annotation>
              <documentation>-- Name --
Vertical extent

-- Definition --
Vertical dimensional property consisting of an absolute measure or range of measures referenced to a well-defined vertical reference level which is commonly taken as origin (ground level, mean sea level, etc.).

-- Description --
In the case of subsurface resources the depth or depth range between the deepest (lower bound) and most shallow (upper bound) aspect of the deposit body, where the depth is true vertical depth below a chosen vertical reference level.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="er-b:VerticalExtentType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VectorEnergyResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="er-v:VectorEnergyResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
