inspire/schemas/act-core/4.0/ActivityComplex_Core.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:act-core="http://inspire.ec.europa.eu/schemas/act-core/4.0" xmlns:ad="http://inspire.ec.europa.eu/schemas/ad/4.0" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/act-core/4.0" version="4.0">
  <import namespace="http://inspire.ec.europa.eu/schemas/ad/4.0" schemaLocation="../../schemas/ad/4.0/Addresses.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="../../schemas/base2/2.0/BaseTypes2.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../schemas/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ActivityComplex" substitutionGroup="gml:AbstractFeature" type="act-core:ActivityComplexType">
    <annotation>
      <documentation>-- Name --
activity complex

-- Definition --
A "single unit", both technically and economically, under the management control of the same legal entity (operator), covering activities as those listed in the Eurostat NACE classification, products and services. Activity Complex includes all infrastructure, equipment and materials. It must represent the whole area, at the same or different geographical location, managed by a "single unit".

-- Description --
NOTE 1 This class describes the minimal set of elements necessary to describe and identify geographically a legal entity and the activities taken place on it under the context of a Environmental purposes.

NOTE 2 "Activity Complex" could be assimilated to terms described on the legislation as Facility, Establishment, Plant, Holding, Organization ,Farm, Extractive Industries or Aquaculture Production Business among others

EXAMPLE i.e. an Agro-business that is legally registered under the Emissions Directive.</documentation>
    </annotation>
  </element>
  <complexType name="ActivityComplexType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Name --
INSPIRE identifier

-- Definition --
External object identifier of the “Activity Complex”.

-- Description --

NOTE  An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="thematicId" type="base2:ThematicIdentifierPropertyType">
            <annotation>
              <documentation>-- Name --
thematic identifier

-- Definition --
Thematic Activity Complex identifier.

-- Description --
NOTE  It may be the identification code provided or maintained by the Member States public authority to identify the object in the context of specific or general thematic scopes. 

EXAMPLE  Assigned National PRTR Code.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Name --
name

-- Definition --
Descriptive name of the &amp;ldquo;Activity Complex&amp;rdquo;.

-- Description --
NOTE 1 Several names in different languages may be expressed.

NOTE 2 It is recommended that the language of the name (part of the Geographical/Name data type) be filled whenever possible.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Name --
geometry

-- Definition --
The geometry used to define the extent or position of the “Activity Complex”.

-- Description --
NOTE 1 Based on the provided description, different geometries could be used to represent the Activity Complex as a one legal whole.
EXAMPLE  1 E-prtr geometry is given by a single point based on Geographical Coordinates (see below). In other levels of detail or depending on the Data Provider this could be represented [e.g.] by a Multi-poligon.

EXAMPLE 2 PRTR - Legal act example: “ … the latitude and longitude coordinates within an arc of 5 minutes that avoid the direct identification of an individual holding….”.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="function" type="act-core:FunctionPropertyType">
            <annotation>
              <documentation>-- Name --
function

-- Definition --

Activities performed by the activity complex. Function is described by the activity and potentially complemented with information about inputs and outputs as result of it.

-- Description -- 
NOTE  The Activity described as part of the Function &amp;ldquo;Activity Complex&amp;rdquo; should be recorded using a controlled vocabulary where a particular controlled vocabulary is in use within a given context, such as SIC codes in the UK, it is acceptable to use these, however, the preferred choice for European interoperability is whenever possible NACE [NACE].</documentation>
            </annotation>
          </element>
          <element name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Name --
valid from

-- Definition --
The time when the activity complex started to exist in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Name --
valid to

-- Definition --
The time when the activity complex no longer exists in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Name --
begin lifespan version

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.

-- Description --
NOTE This date is recorded to enable the generation of change only update files.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Name --
end lifespan version

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.

-- Description --
NOTE This date is recorded primarily for those systems which "close" an entry in the spatial data set in the event of an attribute change.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ActivityComplexPropertyType">
    <sequence minOccurs="0">
      <element ref="act-core:ActivityComplex"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ActivityComplexDescription" substitutionGroup="gml:AbstractObject" type="act-core:ActivityComplexDescriptionType">
    <annotation>
      <documentation>-- Name --
activity complex description

-- Definition --
Additional information about an activity complex, including its description, address, contact and related parties.</documentation>
    </annotation>
  </element>
  <complexType name="ActivityComplexDescriptionType">
    <sequence>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A complementary definition of the “Activity Complex” and its characteristics.

-- Description --
NOTE  Free text to include or refer any complementary information about the Activity Complex or its characteristics.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="address" nillable="true">
        <annotation>
          <documentation>-- Name --
address

-- Definition --
An address for the activity complex, i.e., an address where the activities occur.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="ad:AddressRepresentation"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element minOccurs="0" name="contact" nillable="true">
        <annotation>
          <documentation>-- Name --
contact

-- Definition --
Contact information for the activity complex.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="base2:Contact"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" nillable="true">
        <annotation>
          <documentation>-- Name --
related party

-- Definition --
Information on Parties related to the Activity Complex. It is open to many different roles, such as owners, operators or Competent Authorities.

-- Description --
NOTE 1 The term covers concepts described on the legislation such as Operator, Company, Port Authority, Agent, Holder, Collector, Producer, Competent Authority or Keeper.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="base2:RelatedParty"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ActivityComplexDescriptionPropertyType">
    <sequence>
      <element ref="act-core:ActivityComplexDescription"/>
    </sequence>
  </complexType>
  <element name="Capacity" substitutionGroup="gml:AbstractObject" type="act-core:CapacityType">
    <annotation>
      <documentation>-- Name --
capacity

-- Definition --
A quantification of an actual or potential ability to perform an activity, that typically does not change, does not change often, or does not change to a significant degree.

-- Description --
NOTE  Capacity could refer depending of the thematic scope to different concepts included on the legislation as “emission limits”, “capacity incineration”, “livestock units”, “nominal capacity”, “objective estimation data”, “rate of desulphurization” or “recycling rate”.</documentation>
    </annotation>
  </element>
  <complexType name="CapacityType">
    <sequence>
      <element maxOccurs="unbounded" name="activity" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
activity

-- Definition --
Categorized description of individual or organized set of technically related processes that are carried out by a economical unit, private or public, profit or non profit character.

-- Description --
NOTE The Activity described as part of the Function for &amp;ldquo;Activity Complex&amp;rdquo; should be recorded using a controlled vocabulary where a particular controlled vocabulary is in use within a given context, such as SIC codes in the UK, it is acceptable to use these, however, the preferred choice for European interoperability is whenever possible NACE [NACE].</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="input" type="act-core:InputOutputAmountPropertyType">
        <annotation>
          <documentation>-- Name --
input

-- Definition --
Measurable  information about parameters related with the inputs related with the activity carried out by the Activity Complex.

-- Description --
NOTE  Depending on the thematic scope it can contain different values including terms as Registered Pollutants, Waste, Processed Products, leakage, etc.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="output" type="act-core:InputOutputAmountPropertyType">
        <annotation>
          <documentation>-- Name --
output

-- Definition --
Measurable information about parameters related with the outputs derived from the activity carried out by the &amp;ldquo;Activity Complex&amp;rdquo;.

-- Description --
NOTE  Depending on the thematic scope it can contain different values including terms as Registered Pollutants, Waste, Processed Products, leakage, etc.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="time" type="time">
        <annotation>
          <documentation>-- Name --
time

-- Definition --
The duration of time to which the specified capacity refers, such as 1 year for an annual capacity.

-- Description --
NOTE Total capacities are specified without duration of time.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A description of the capacity.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CapacityPropertyType">
    <sequence>
      <element ref="act-core:Capacity"/>
    </sequence>
  </complexType>
  <element name="Function" substitutionGroup="gml:AbstractObject" type="act-core:FunctionType">
    <annotation>
      <documentation>-- Name --
function

-- Definition --
The function of something expressed as an activity and optional input and/or output.

-- Description -- 
NOTE  Depending on the scope it can refer to different activities (co-incineration, Collection, exploration, incineration, interim disposal, management, recycling, primary production, primary treatment, recovery , recycling, release, storage, use, waste management, etc) and Inputs and Outputs (sludge, substance, tailings, technical products, urban waste water, volatile organic compound, waste, WEEE from private households, etc).</documentation>
    </annotation>
  </element>
  <complexType name="FunctionType">
    <sequence>
      <element maxOccurs="unbounded" name="activity" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
activity

-- Definition --
Categorized description of individual or organized set of technically related processes that are carried out by a economical unit, private or public, profit or non profit character.

-- Description --
NOTE  The Activity described as part of the Function for &amp;ldquo;Activity Complex&amp;rdquo; should be recorded using a controlled vocabulary where a particular controlled vocabulary is in use within a given context, such as SIC codes in the UK, it is acceptable to use these, however, the preferred choice for European interoperability is whenever possible NACE [NACE].</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="input" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
input

-- Definition --
A  classified or registered type of material or something immaterial, that enters a technical and economical unit according to its function. 

-- Description --
NOTE  Depending on the thematic scope it can contain different values including terms as Biomass, Bio-Waste, Fuel, Organic Solvents, Waste Water, Waste for disposal or recovery, Primary Materials, ..</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="output" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
output

-- Definition --
A  classified or registered type of material or something immaterial, that leaves a technical and economical unit according to its function, ".

-- Description --
NOTE Depending on the thematic scope it can contain different values including terms as Registered Pollutants, Waste, Processed Products, leakage, etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A more detailed description of the function.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FunctionPropertyType">
    <sequence>
      <element ref="act-core:Function"/>
    </sequence>
  </complexType>
  <element name="InputOutputAmount" substitutionGroup="gml:AbstractObject" type="act-core:InputOutputAmountType">
    <annotation>
      <documentation>-- Name --
amount of input or output

-- Definition --
Type and, where available, measurable amount of a classified or registered material that enters or leaves a technical and economical unit.
-- Description -- 
NOTE Depending on the thematic scope it can refer to different terms as Biomass, Bio-Waste, Fuel, Organic Solvents, Waste Water, Waste for disposal or recovery, Primary Materials, etc.</documentation>
    </annotation>
  </element>
  <complexType name="InputOutputAmountType">
    <sequence>
      <element name="inputOutput" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
input/output

-- Definition --
A  classified or registered type of material or something immaterial, that enters a technical and economical unit according to its function.

-- Description -- 
NOTE Depending on the thematic scope it can contain different values including terms as Biomass, Bio-Waste, Fuel, Organic Solvents, Waste Water, Waste for disposal or recovery, Primary Materials, etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="amount" nillable="true">
        <annotation>
          <documentation>-- Name --
amount

-- Definition --
The amount (such as a volume or mass) of the classified or registered material that enters or leaves a technical and economical unit.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="gml:MeasureType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="InputOutputAmountPropertyType">
    <sequence>
      <element ref="act-core:InputOutputAmount"/>
    </sequence>
  </complexType>
  <element name="Permission" substitutionGroup="gml:AbstractObject" type="act-core:PermissionType">
    <annotation>
      <documentation>-- Name --
permission

-- Definition --
Official Decision (formal consent) granting authorization to operate all or part of an Activity Complex, subject to certain conditions which guarantee that the installations or parts of installations on the same site operated by the same operator comply with the requirements fixed by a competent authority. A permit may cover one or more functions and fix parameters of capacity. The term could be extended to other kind of certificates or documents of special relevance depending of the scope (e.g. ISO, EMAS, National Quality Standards, etc).

The term may be extended to other kind of certificates or documents of special relevance depending of the scope (e.g. ISO, EMAS, National Quality Standards, etc).

-- Description --
NOTE This terms is referred in several legislative acts as &amp;ldquo;permit&amp;rdquo; , &amp;ldquo;authorization&amp;rdquo;, &amp;ldquo;development consent&amp;rdquo; or &amp;ldquo;exploration permit&amp;rdquo; among others.

EXAMPLE 1 &amp;ldquo;&amp;hellip;a [written] decision by which the competent authority grants permission to operate all or part of an installation&amp;rdquo; ;
EXAMPLE 2 &amp;ldquo;.. the decision of the competent authority or authorities which entitles the developer to proceed with the project..&amp;rdquo;.</documentation>
    </annotation>
  </element>
  <complexType name="PermissionType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="Id" type="base2:ThematicIdentifierPropertyType">
        <annotation>
          <documentation>-- Name --
identifier

-- Definition --
Identifying reference to the permission.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" nillable="true">
        <annotation>
          <documentation>-- Name --
related party

-- Definition --
Parties related to the permission granted to the activity complex open to many different roles, such as Competent Authorities or Company among others

-- Description --
NOTE Include concepts described on the legislation such as Operator, Company, Port Authority, Agent, Holder, Competent Authority or Keeper.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="base2:RelatedParty"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="decisionDate" nillable="true">
        <annotation>
          <documentation>-- Name --
decision date

-- Definition --
Temporal reference that complement the definition of the permission.

-- Description --
NOTE For permissions that become effective immediately, the decision date and the start of the validity period coincide. It may however be a duration of years or decades that separates a decision date from the validity period. For example, a permission decided in 2012 may allow the recovery of waste at a particular site starting from the year

EXAMPLE  Legal resolutions used to refer to a specific day from which the referred resolution and the emitted permission starts to be valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="dateFrom" nillable="true">
        <annotation>
          <documentation>-- Name --
date from

-- Definition --
A date starting from which the permission applies and is valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="dateTo" nillable="true">
        <annotation>
          <documentation>-- Name --
date to

-- Definition --
A date up to which the permission applies and is valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A description of the permission.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="permittedFunction" nillable="true">
        <annotation>
          <documentation>-- Name --
permitted function

-- Definition --
Function/s for which the permission is granted. Function is as described by the Activity and potentially complemented by information about the Inputs and Outputs derived from the same.

-- Description --
NOTE Functions permitted according to the permission, such as a permit for a landfill.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="act-core:Function"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="permittedCapacity" nillable="true">
        <annotation>
          <documentation>-- Name --
permitted capacity

-- Definition --
Maximum amounts of activity input and/or output according to the permission, 

-- Description --
NOTE The physical capacities of a facility may exceed the permitted capacities. 
EXAMPLE Incineration of at most 100000 tons of residual waste per year.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="act-core:Capacity"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="PermissionPropertyType">
    <sequence>
      <element ref="act-core:Permission"/>
    </sequence>
  </complexType>
</schema>
