inspire/schemas/plu/4.0/PlannedLandUse.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lunom="http://inspire.ec.europa.eu/schemas/lunom/4.0" xmlns:plu="http://inspire.ec.europa.eu/schemas/plu/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/plu/4.0" version="4.0">
  <annotation>
    <documentation>-- Name --
planned land use</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="../../schemas/base2/2.0/BaseTypes2.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/lunom/4.0" schemaLocation="../../schemas/lunom/4.0/LandUseNomenclature.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="BackgroundMapValue" substitutionGroup="gml:AbstractObject" type="plu:BackgroundMapValueType">
    <annotation>
      <documentation>-- Definition --
Information regarding the map that has been used as a background in the definition of a spatial plan, a zoning element or a supplementary regulation.</documentation>
    </annotation>
  </element>
  <complexType name="BackgroundMapValueType">
    <sequence>
      <element name="backgroundMapDate" type="dateTime">
        <annotation>
          <documentation>-- Name --
background map date
-- Definition --
Date of the background map used.</documentation>
        </annotation>
      </element>
      <element name="backgroundMapReference" type="string">
        <annotation>
          <documentation>-- Definition --
Reference to the background map that has been used.</documentation>
        </annotation>
      </element>
      <element name="backgroudMapURI" nillable="true">
        <annotation>
          <documentation>-- Name --
background map URI
-- Definition --
URI referring to service that provides background map.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="BackgroundMapValuePropertyType">
    <sequence>
      <element ref="plu:BackgroundMapValue"/>
    </sequence>
  </complexType>
  <element name="DimensioningIndicationCharacterValue" substitutionGroup="plu:DimensioningIndicationValue" type="plu:DimensioningIndicationCharacterValueType">
    <annotation>
      <documentation>-- Name --
dimension indication character value
-- Definition --
Dimensioning indication whose value is of type CharacterString.</documentation>
    </annotation>
  </element>
  <complexType name="DimensioningIndicationCharacterValueType">
    <complexContent>
      <extension base="plu:DimensioningIndicationValueType">
        <sequence>
          <element name="value" type="string">
            <annotation>
              <documentation>-- Definition --
value of the dimension indications.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DimensioningIndicationCharacterValuePropertyType">
    <sequence>
      <element ref="plu:DimensioningIndicationCharacterValue"/>
    </sequence>
  </complexType>
  <element name="DimensioningIndicationIntegerValue" substitutionGroup="plu:DimensioningIndicationValue" type="plu:DimensioningIndicationIntegerValueType">
    <annotation>
      <documentation>-- Name --
dimension indication integer value
-- Definition --
Dimensioning indication whose value is of type integer.</documentation>
    </annotation>
  </element>
  <complexType name="DimensioningIndicationIntegerValueType">
    <complexContent>
      <extension base="plu:DimensioningIndicationValueType">
        <sequence>
          <element name="value" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DimensioningIndicationIntegerValuePropertyType">
    <sequence>
      <element ref="plu:DimensioningIndicationIntegerValue"/>
    </sequence>
  </complexType>
  <element name="DimensioningIndicationMeasureValue" substitutionGroup="plu:DimensioningIndicationValue" type="plu:DimensioningIndicationMeasureValueType">
    <annotation>
      <documentation>-- Name --
dimension indication measure value
-- Definition --
Dimensioning indication whose value is a measure.</documentation>
    </annotation>
  </element>
  <complexType name="DimensioningIndicationMeasureValueType">
    <complexContent>
      <extension base="plu:DimensioningIndicationValueType">
        <sequence>
          <element name="value" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DimensioningIndicationMeasureValuePropertyType">
    <sequence>
      <element ref="plu:DimensioningIndicationMeasureValue"/>
    </sequence>
  </complexType>
  <element name="DimensioningIndicationRealValue" substitutionGroup="plu:DimensioningIndicationValue" type="plu:DimensioningIndicationRealValueType">
    <annotation>
      <documentation>-- Name --
dimension indication real value
-- Definition --
Dimensioning indication whose value is a floating point number.</documentation>
    </annotation>
  </element>
  <complexType name="DimensioningIndicationRealValueType">
    <complexContent>
      <extension base="plu:DimensioningIndicationValueType">
        <sequence>
          <element name="value" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DimensioningIndicationRealValuePropertyType">
    <sequence>
      <element ref="plu:DimensioningIndicationRealValue"/>
    </sequence>
  </complexType>
  <element name="DimensioningIndicationValue" substitutionGroup="gml:AbstractObject" type="plu:DimensioningIndicationValueType">
    <annotation>
      <documentation>-- Name --
Dimension Indication
-- Definition --
Specifications about the dimensioning of the urban developments.</documentation>
    </annotation>
  </element>
  <complexType name="DimensioningIndicationValueType">
    <sequence>
      <element name="indicationReference" type="string">
        <annotation>
          <documentation>-- Definition --
Description of the dimension indication.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DimensioningIndicationValuePropertyType">
    <sequence>
      <element ref="plu:DimensioningIndicationValue"/>
    </sequence>
  </complexType>
  <element name="OfficialDocumentation" substitutionGroup="gml:AbstractFeature" type="plu:OfficialDocumentationType">
    <annotation>
      <documentation>-- Name --
official documentation

-- Definition --
The official documentation that composes the spatial plan; it may be composed of, the applicable legislation, the regulations, cartographic elements, descriptive elements that may be associated with the complete spatial plan, a zoning element or a supplementary regulation . In some Member States the actual textual regulation will be part of the data set (and can be put in the regulationText attribute), in other Member States the text will not be part of the data set and will be referenced via a reference to a document or a legal act.

At least one of the three voidable values shall be provided.

-- Description --
NOTE: The LegislationCitation is the value type of the attribute regulation reference. An example of a regulation reference would be: http://www2.vlaanderen.be /ruimtelijk/grup/00350/00362_00001/data/ 212_00362_00001_d_0BVR.pdf.</documentation>
    </annotation>
  </element>
  <complexType name="OfficialDocumentationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of this spatial textual regulation.
-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="legislationCitation" nillable="true">
            <annotation>
              <documentation>-- Definition --
Reference to the document that contains the text of the regulation.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="base2:LegislationCitation"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="regulationText" nillable="true">
            <annotation>
              <documentation>-- Definition --
Text of the regulation.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="planDocument" nillable="true">
            <annotation>
              <documentation>-- Definition --
Citation of scanned plans and structural drawings which may sometimes be geo-referenced or not,. E.g. raster images, vector drawings or scanned text.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="base2:DocumentCitation"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OfficialDocumentationPropertyType">
    <sequence minOccurs="0">
      <element ref="plu:OfficialDocumentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="OrdinanceValue" substitutionGroup="gml:AbstractObject" type="plu:OrdinanceValueType">
    <annotation>
      <documentation>-- Definition --
Reference to administrative ordinance. Ordinance is a regulation/rule that is adopted by an authority that is legally mandated to take such ordinance.</documentation>
    </annotation>
  </element>
  <complexType name="OrdinanceValueType">
    <sequence>
      <element name="ordinanceDate" type="dateTime">
        <annotation>
          <documentation>-- Definition --
Date of the relevant administrative ordinance.
-- Description --
NOTE This attribute is multiple because, independently from the current legal status of the plan, there can be references to the dates of more than one ordinance, in relation to the different steps that the planning process has already undergone (e.g. ordinance for the preparation of a new plan, ordinance of adoption, ordinance of approval, etc.).</documentation>
        </annotation>
      </element>
      <element name="ordinanceReference" type="string">
        <annotation>
          <documentation>-- Definition --
Reference to relevant administrative ordinance.
-- Description --
NOTE This attribute is multiple because, independently from the current legal status of the plan, there can be references to more than one ordinance, in relation to the different steps that the planning process has already undergone (e.g. ordinance for the preparation of a new plan, ordinance of adoption, ordinance of approval, etc.).</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="OrdinanceValuePropertyType">
    <sequence>
      <element ref="plu:OrdinanceValue"/>
    </sequence>
  </complexType>
  <element name="SpatialPlan" substitutionGroup="gml:AbstractFeature" type="plu:SpatialPlanType">
    <annotation>
      <documentation>-- Name --
spatial plan
-- Definition --
A set of documents that indicates a strategic direction for the development of a given geographic area, states the policies, priorities, programmes and land allocations that will implement the strategic direction and influences the distribution of people and activities in spaces of various scales. Spatial plans may be developed for urban planning, regional planning, environmental planning, landscape planning, national spatial plans, or spatial planning at the Union level.</documentation>
    </annotation>
  </element>
  <complexType name="SpatialPlanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial plan.
-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="extent" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometrical union of all the instances of the spatial objects ZoningElement and SupplementaryRegulation. When a SpatialPlan is only composed of a document, the attribute extent is the border of the cartographic image that contains the land use information (i.e. the land use map extent).</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="officialTitle" type="string">
            <annotation>
              <documentation>-- Definition --
Official title of the spatial plan.</documentation>
            </annotation>
          </element>
          <element name="levelOfSpatialPlan" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
level of spatial plan
-- Definition --
Level of the administrative units covered by the plan.
-- Description --
Member states should make a mapping to this enumeration.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
First date at which this spatial plan is valid in reality.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time from which the spatial plan no longer exists in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="alternativeTitle" nillable="true">
            <annotation>
              <documentation>-- Definition --
Alternative (unofficial) title of the spatial plan.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="planTypeName" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Name of the type of plan that the Member State has given to the plan. 
-- Description --
NOTE The admissible values for this attribute are managed at the member state level via a code list

EXAMPLE:
FR: DTA, SCOT, PLU, etc.
DE: Bebauungsplan, Flächennutzungsplan, Regionalplan, Landesentwicklungsplan 
NL:  bestemmingsplan, structuurvisie.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="processStepGeneral" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
General indication of the step of the planning process that the plan is undergoing.
-- Description --
NOTE This enumeration contains values that are common to most planning systems.</documentation>
            </annotation>
          </element>
          <element name="backgroundMap" nillable="true">
            <annotation>
              <documentation>-- Name --
background map
-- Definition --
Identification of the background map that has been used for constructing this Plan.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:BackgroundMapValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="ordinance" nillable="true">
            <annotation>
              <documentation>-- Definition --
Reference to relevant administrative ordinance.
-- Description --
NOTE This attribute is multiple because, independently from the current legal status of the plan, there can be references to more than one ordinance, in relation to the different steps that the planning process has already undergone (e.g. ordinance for the preparation of a new plan, ordinance of adoption, ordinance of approval, etc.).</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:OrdinanceValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="officialDocument" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Link to the official documents that relate to the spatial plan.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:OfficialDocumentation</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="member" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Reference to the ZoningElements which belong to this SpatialPlan.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:ZoningElement</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:plan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="restriction" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Links to supplementary regulations providing information and/or limitations on the use of land/water that supplements the zoning as part of this spatial plan.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:SupplementaryRegulation</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:plan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpatialPlanPropertyType">
    <sequence minOccurs="0">
      <element ref="plu:SpatialPlan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SupplementaryRegulation" substitutionGroup="gml:AbstractFeature" type="plu:SupplementaryRegulationType">
    <annotation>
      <documentation>-- Name --
supplementary regulation
-- Definition --
A spatial object (point, line or polygon) of a spatial plan that provides supplementary information and/or limitation of the use of land/water necessary for spatial planning reasons or to formalise external rules defined in legal text.
-- Description --
NOTE the supplementary regulations affects all land use that overlap with the geometry
EXAMPLE an air field generates restriction in its surroundings regarding aircraft landing, radar and telecommunication devices. It is the buffer around these artefacts that generates the supplementary regulation on the Land Use.</documentation>
    </annotation>
  </element>
  <complexType name="SupplementaryRegulationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
First date at which this version of this supplementary regulation is valid in reality.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time from which the supplementary regulation is no longer valid.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="specificSupplementaryRegulation" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Reference to a category of supplementary regulation provided in a specific nomenclature of supplementary regulations provided by the data provider.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="processStepGeneral" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
General indication of the step of the planning process that the supplementary regulation is undergoing.
-- Description --
NOTE This enumeration contains values that are common to most planning systems.</documentation>
            </annotation>
          </element>
          <element name="backgroundMap" nillable="true">
            <annotation>
              <documentation>-- Name --
background map
-- Definition --
Identification of the background map that has been used for constructing the supplementary regulation.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:BackgroundMapValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dimensioningIndication" nillable="true">
            <annotation>
              <documentation>-- Definition --
Specifications about the dimensioning that are added to the dimensioning of the zoning elements that overlap the geometry of the supplementary regulation.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:DimensioningIndicationValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.
-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry of the piece of land on which the supplementary regulation applies.</documentation>
            </annotation>
          </element>
          <element name="inheritedFromOtherPlans" nillable="true">
            <annotation>
              <documentation>-- Name --
inherited from other plans
-- Definition --
Indication whether the supplementary regulation is inherited from another spatial plan.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="specificRegulationNature" nillable="true">
            <annotation>
              <documentation>-- Name --
specific regulation nature
-- Definition --
Legal nature of the land use regulation from a national perspective.
-- Description --
On member state level the legal classification for plan regulations may be complex. A supplementary regulation may be principally "bindingOnlyForAuthorities" but according to national law this regulation have to be more specified to explain the specific degree of binding. (e.g. on state or regional planning level in Germany: principles of spatial planning, other spatial planning requirements or goals of spatial planning).

NOTE This attribute complements the information provided by the attribute regulationNature.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Definition --
Official name of the supplementary regulation</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="regulationNature" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Legal nature of the land use regulation.
-- Description --
NOTE Indicates whether the land use regulation is legally binding or not.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="supplementaryRegulation" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Code of the supplementary regulation from the hierarchical supplementary regulation code list agreed at the European level.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="officialDocument" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Link to the Textual regulations that correspond to this supplementary regulation.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:OfficialDocumentation</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="plan" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Link to the plan this supplementary regulation is part of.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:SpatialPlan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:restriction</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SupplementaryRegulationPropertyType">
    <sequence minOccurs="0">
      <element ref="plu:SupplementaryRegulation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ZoningElement" substitutionGroup="gml:AbstractFeature" type="plu:ZoningElementType">
    <annotation>
      <documentation>-- Name --
zoning element
-- Definition --
A spatial object which is homogeneous regarding the permitted uses of land based on zoning which separate one set of land uses from another.
-- Description --
Zoning elements refer to the regulation of the kinds of activities which will be acceptable on particular lots (such as open space, residential, agricultural, commercial or industrial).  The intensity of use at which those activities can be performed (from low-density housing such as single family homes to high-density such as high-rise apartment buildings), the height of buildings, the amount of space that structures may occupy, the proportions of the types of space on a lot, such as how much landscaped space, impervious surface, traffic lanes, and parking may be provided.</documentation>
    </annotation>
  </element>
  <complexType name="ZoningElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.
-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry of this zoning element</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
The date when the phenomenon started to exist in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time from which the phenomenon no longer exists in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="hilucsLandUse" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Land use HILUCS class that is dominant in this land use object.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="hilucsPresence" nillable="true">
            <annotation>
              <documentation>-- Name --
land use presence

-- Definition --
Actual presence of a land use HILUCS category wihtin the object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="lunom:HILUCSPresence"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="specificLandUse" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Land Use Category according to the nomenclature specific to this data set.
-- Description --
Reference to an entry in the classfication that is part of the SpecificLandUseClassification.</documentation>
            </annotation>
          </element>
          <element name="specificPresence" nillable="true">
            <annotation>
              <documentation>-- Name --
land use presence
-- Definition --
Actual presence of a land use category wihtin the object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="lunom:SpecificPresence"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="regulationNature" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Legal nature of the land use indication.
-- Description --
NOTE Indicates whether the land use indication is legally binding or not.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="processStepGeneral" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
General indication of the step of the planning process that the zoning element is undergoing.
-- Description --
NOTE This enumeration contains values that are common to most planning systems.</documentation>
            </annotation>
          </element>
          <element name="backgroundMap" nillable="true">
            <annotation>
              <documentation>-- Name --
background map
-- Definition --
Identification of the background map that has been used for constructing this zoning element.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:BackgroundMapValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dimensioningIndication" nillable="true">
            <annotation>
              <documentation>-- Definition --
Specifications about the dimensioning of the urban developments.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="plu:DimensioningIndicationValue"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="officialDocument" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Textual Regulation that is part of this zoning element.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:OfficialDocumentation</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="plan" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
SpatialPlan which this ZoningElement belongs to.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">plu:SpatialPlan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:member</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ZoningElementPropertyType">
    <sequence minOccurs="0">
      <element ref="plu:ZoningElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
