inspire/schemas/tn-c/4.0/CableTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="http://inspire.ec.europa.eu/schemas/net/4.0" xmlns:tn="http://inspire.ec.europa.eu/schemas/tn/4.0" xmlns:tn-c="http://inspire.ec.europa.eu/schemas/tn-c/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/tn-c/4.0" version="4.0">
  <annotation>
    <documentation>-- Definition --
This package defines the types that are used on the cable subtheme.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/net/4.0" schemaLocation="../../schemas/net/4.0/Network.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/tn/4.0" schemaLocation="../../schemas/tn/4.0/CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CablewayLink" substitutionGroup="tn:TransportLink" type="tn-c:CablewayLinkType">
    <annotation>
      <documentation>-- Definition --
Linear spatial object that describes the geometry and connectivity of a cable network between two points in a cableway transport network.

-- Description --
NOTE Cableway transport is a form of transport based on a cable suspended normally from a set of consecutive towers.</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence>
          <element name="cablewayType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The type of a cableway transport.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-c:CablewayLinkSequenceType">
    <annotation>
      <documentation>-- Definition --
An ordered collection of cableway links that are characterized by one or more thematic identifiers and/or properties.</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayLinkSet" substitutionGroup="tn:TransportLinkSet" type="tn-c:CablewayLinkSetType">
    <annotation>
      <documentation>-- Definition --
A collection of cableway link sequences and or individual cableway links that has a specific function or significance in a cable transport network.</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkSetType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkSetPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLinkSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayNode" substitutionGroup="tn:TransportNode" type="tn-c:CablewayNodeType">
    <annotation>
      <documentation>-- Definition --
A point spatial object that is used to represent connectivity between two consecutive cableway links.</documentation>
    </annotation>
  </element>
  <complexType name="CablewayNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
