schemas/lcr/3.0/LandCoverRaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:lcn="http://inspire.ec.europa.eu/schemas/lcn/3.0" xmlns:lcr="http://inspire.ec.europa.eu/schemas/lcr/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/lcr/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>application schema for Land Cover Raster</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/lcn/3.0" schemaLocation="../../schemas/lcn/3.0/LandCoverNomenclature.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../schemas/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gmlcov/1.0" schemaLocation="../../schemas/ogc/gmlcov/1.0/coverage.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="LandCoverGridCoverage" type="lcr:LandCoverGridCoverageType" substitutionGroup="gmlcov:RectifiedGridCoverage">
		<annotation>
			<documentation>-- Name --
Land Cover Grid Coverage

-- Definition --
A raster representation for Land Cover data.

-- Description --
This representation allows Land Cover data being supported by rectified grid coverage (ISO 19123).</documentation>
		</annotation>
	</element>
	<complexType name="LandCoverGridCoverageType">
		<complexContent>
			<extension base="gmlcov:AbstractDiscreteCoverageType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Name --
inspireId

-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Name --
beginLifespanVersion

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Name --
endLifespanVersion

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="extent">
						<annotation>
							<documentation>-- Name --
extent

-- Definition --
Contains the extent of the data set.

-- Description --
NOTE	Extents may be specified in space, time or space-time.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence minOccurs="0">
										<element ref="gmd:EX_Extent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="name" type="string">
						<annotation>
							<documentation>-- Name --
name

-- Definition --
Name of the Land Cover coverage.</documentation>
						</annotation>
					</element>
					<element name="nomenclatureDocumentation">
						<annotation>
							<documentation>-- Name --
nomenclatureDocumentation

-- Definition --
Information about the nomenclature used in this coverage.</documentation>
						</annotation>
					</element>
					<element name="validFrom" nillable="true">
						<annotation>
							<documentation>-- Name --
validFrom

-- Definition --
The time when the phenomenon started to exist in the real world.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="validTo" nillable="true">
						<annotation>
							<documentation>-- Name --
validTo

-- Definition --
The time from which the phenomenon no longer exists in the real world.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LandCoverGridCoveragePropertyType">
		<sequence minOccurs="0">
			<element ref="lcr:LandCoverGridCoverage"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
