inspire/schemas/elu/3.0/ExistingLandUse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:elu="http://inspire.ec.europa.eu/schemas/elu/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lunom="http://inspire.ec.europa.eu/schemas/lunom/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/elu/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Name --
existing land use</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/lunom/3.0" schemaLocation="../../schemas/lunom/3.0/LandUseNomenclature.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="ExistingLandUseDataSet" type="elu:ExistingLandUseDataSetType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
existing land use data set
-- Definition --
An existing land use data set is a collection of areas for which information on existing (present or past) land uses is provided.</documentation>
		</annotation>
	</element>
	<complexType name="ExistingLandUseDataSetType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier of the existing land use dataset.
-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="extent" type="gml:MultiSurfacePropertyType">
						<annotation>
							<documentation>-- Name --
existing land use data set
-- Definition --
Boundary of the geometrical union of all the instances of the spatial object type ExistingLandUseObject.</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the existing land use data set was inserted or changed in the provided set of data.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the existing land use data set was superseded or retired in the provided set of data.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="name" type="string">
						<annotation>
							<documentation>-- Definition --
Human readable name of the data set.</documentation>
						</annotation>
					</element>
					<element name="validFrom" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
the time when the existing land use data set started to exist in the real world</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="validTo" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
The time from which this existing land use data set no longer exists in the real world.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="member" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Existing land use objects that belong to this existing land use data set.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">elu:ExistingLandUseObject</targetElement>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">elu:dataset</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExistingLandUseDataSetPropertyType">
		<sequence minOccurs="0">
			<element ref="elu:ExistingLandUseDataSet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ExistingLandUseObject" type="elu:ExistingLandUseObjectType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
existing land use object
-- Definition --
An existing land use object describes the land use of an area having a homogeneous combination of land use types.</documentation>
		</annotation>
	</element>
	<complexType name="ExistingLandUseObjectType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier of the existing land use object.
-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geometry" type="gml:MultiSurfacePropertyType">
						<annotation>
							<documentation>-- Definition --
Geometric representation of spatial area covered by this spatial object.</documentation>
						</annotation>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="hilucsLandUse" type="gml:ReferenceType" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Land use HILUCS classes that are present in this existing land use object.
-- Description --
NOTE The Existing Land Use model enables the provision of information on land uses inside one land use object. The ExistingLandUseObject may be associated with 1 to many HILUCSLandUse that represents the Land Uses for the polygon from the economical point of view. It makes possible the assignment of more than one HILUCSLandUse existences when they cannot be managed by HILUCSPresences.</documentation>
						</annotation>
					</element>
					<element name="hilucsPresence" nillable="true">
						<annotation>
							<documentation>-- Name --
land use presence
-- Definition --
Actual presence of a land use category according to HILUCS within the object.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
						<complexType>
							<sequence>
								<element ref="lunom:HILUCSPresence"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="specificLandUse" type="gml:ReferenceType" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Land Use Category according to the nomenclature specific to this data set.
-- Description --
Reference to an entry in the classfication that is part of the SpecificLandUseClassification.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="specificPresence" nillable="true">
						<annotation>
							<documentation>-- Name --
land use presence
-- Definition --
Actual presence of a land use category within the object.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
						<complexType>
							<sequence>
								<element ref="lunom:SpecificPresence"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="observationDate" nillable="true">
						<annotation>
							<documentation>-- Name --
Observation Date.
-- Definition --
The observation date associated to a description.
-- Description --
Defines the observation date of the description. It could be the date of an aerial/satellite acquisition or a field survey. The observation date allows the user to have accurate date of when the description was made in the real word. In a database, not all objects are necessarily captured at the same time.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="validFrom" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
The time when the phenomenon started to exist in the real world.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="validTo" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
The time from which the phenomenon no longer exists in the real world.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="dataset" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Definition --
Existing land use data set to which this land use object belongs.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">elu:ExistingLandUseDataSet</targetElement>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">elu:member</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExistingLandUseObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="elu:ExistingLandUseObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
