inspire/schemas/us-emf/4.0/EnvironmentalManagementFacilities.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:act-core="http://inspire.ec.europa.eu/schemas/act-core/4.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-emf="http://inspire.ec.europa.eu/schemas/us-emf/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/us-emf/4.0" version="4.0">
  <import namespace="http://inspire.ec.europa.eu/schemas/act-core/4.0" schemaLocation="../../schemas/act-core/4.0/ActivityComplex_Core.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../schemas/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="EnvironmentalManagementFacility" substitutionGroup="act-core:ActivityComplex">
    <annotation>
      <documentation>-- Name --
environmental management facility

-- Definition --
A physical structure designed, built or installed to serve specific functions in relation to environmental material flows, such as waste or waste water flows, or a delimitable area of land or water used to serve such functions.

-- Description --
EXAMPLE In the context of waste management the "specific function" may be a waste recovery or disposal operation. Typically, waste management sites and waste management installations (such as incineration plants, landfills or storages) get distinguished. Multiple waste management installations may be found at the same site. Waste management installations can be a part of other waste management installations.

The functions considered for the Environmental Facilities Theme fall mainly under the NACE rev. 2 category E "Water supply; Sewerage; Waste management and remediation activities".</documentation>
    </annotation>
  </element>
  <complexType name="EnvironmentalManagementFacilityType">
    <complexContent>
      <extension base="act-core:ActivityComplexType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="type" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
type

-- Definition --
The type of facility, such as installation or site.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">narrower</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/EnvironmentalFacilityType</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="serviceHours" nillable="true" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>-- Name --
service hours

-- Definition --
Service hours of the facility.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="facilityDescription" nillable="true">
            <annotation>
              <documentation>-- Name --
facility description

-- Definition --
Additional information on an Environmental Management Facilities, including its address, a contact details, related parties and a free text description.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="act-core:ActivityComplexDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="physicalCapacity" nillable="true">
            <annotation>
              <documentation>-- Name --
physical capacity

-- Definition --
A quantification of an actual or potential ability to perform an activity, that typically does not change, does not change often, or does not change to a significant degree.

-- Description --
NOTE  Capacity could refer depending of the thematic scope to different concepts included on the legislation as &amp;ldquo;emission limits&amp;rdquo;, &amp;ldquo;capacity incineration&amp;rdquo;, &amp;ldquo;nominal capacity&amp;rdquo;, &amp;ldquo;objective estimation data&amp;rdquo;, &amp;ldquo;rate of desulphurization&amp;rdquo; or &amp;ldquo;recycling rate&amp;rdquo;.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="act-core:Capacity"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="permission" nillable="true">
            <annotation>
              <documentation>-- Name --
permission

-- Definition --
Official Decision (formal consent) granting authorization to operate all or part of an Environmental Management Facility , subject to certain conditions which guarantee that the installation or parts of installations on the same site operated by the same operator complies with the requirements fixed by the law or standards. A permit may cover one or more functions and fix parameters of capacity;

The term may be extended to other kind of certificates or documents of special relevance depending of the scope (e.g. ISO, EMAS, National Quality Standards, etc).

-- Description --
NOTE This terms is referred in several legislative acts as &amp;ldquo;permit&amp;rdquo; , &amp;ldquo;authorization&amp;rdquo;, &amp;ldquo;development consent&amp;rdquo; or &amp;ldquo;exploration permit&amp;rdquo; among others.

EXAMPLE 1 &amp;ldquo;&amp;hellip;a [written] decision by which the competent authority grants permission to operate all or part of an installation&amp;rdquo; ;
EXAMPLE 2 &amp;ldquo;.. the decision of the competent authority or authorities which entitles the developer</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="act-core:Permission"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="status" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
status

-- Definition --
The status of the Environmental Management Facility, such as operational or decommissioned.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parentFacility" nillable="true">
            <annotation>
              <documentation>-- Name --
parent facility

-- Definition --
A parent facility, i.e., a facility to which this facility belongs.

-- Description --
A facility may belong to multiple other facilities.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvironmentalManagementFacilityPropertyType">
    <sequence minOccurs="0"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
