schemas/el-vec/3.0/ElevationVectorElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:el-bas="http://inspire.ec.europa.eu/schemas/el-bas/3.0" xmlns:el-vec="http://inspire.ec.europa.eu/schemas/el-vec/3.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/el-vec/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Name --
elevation - vector elements

-- Definition --
Elevation - Vector Elements application schema.</documentation>
		<appinfo>
			<gmlProfileSchema xmlns="http://www.opengis.net/gml/3.2">EMPTY</gmlProfileSchema>
		</appinfo>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
	<!-- import namespace="http://inspire.ec.europa.eu/schemas/hy-p/4.0rc1" schemaLocation="http://inspire.ec.europa.eu/draft-schemas/hy-p/4.0rc1/HydroPhysicalWaters.xsd"/ -->
	<import namespace="http://inspire.ec.europa.eu/schemas/el-bas/3.0" schemaLocation="../../schemas/el-bas/3.0/ElevationBaseTypes.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../schemas/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="../../schemas/gn/3.0/GeographicalNames.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="ElevationVectorObject" type="el-vec:ElevationVectorObjectType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
elevation vector object

-- Definition --
Elevation spatial object forming part of a vector data set, which participates in the description of the elevation property of a real world surface. It consists of an identity base for all vector objects which can be included as part of an elevation data set.

-- Description --
It is an abstract feature type which generically describes every possible type of elevation vector object. It includes common attributes, properties and constraints for such spatial objects.</documentation>
		</annotation>
	</element>
	<complexType name="ElevationVectorObjectType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Name --
begin lifespan version

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Name --
end lifespan version

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="localDepthDatum" type="el-vec:ChartDatumPropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Name --
local depth datum

-- Definition --
Identification of a local vertical coordinate reference system not included in a registry, which is used to refer depth measurements.

-- Description --
NOTE This data type is applicable only to bathymetric vector objects.

EXAMPLE Local datums for referring depths in lakes and navigable rivers.</documentation>
						</annotation>
					</element>
					<element name="propertyType" type="el-bas:ElevationPropertyTypeValueType">
						<annotation>
							<documentation>-- Name --
property type

-- Definition --
Attribute categorizing the elevation vector object as a land-elevation or a bathymetry spatial object. It determines the elevation property represented by the object.

-- Description --
EXAMPLE  Height, depth.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ElevationVectorObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:ElevationVectorObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BreakLine" type="el-vec:BreakLineType" substitutionGroup="el-vec:ElevationVectorObject">
		<annotation>
			<documentation>-- Name --
breakline

-- Definition --
A line of a critical nature which describes the shape of an elevation surface and indicates a discontinuity in the slope of the surface (i.e. an abrupt change in gradient). Triangles included within a TIN model must never cross it.

-- Description --
SOURCE Adapted from [ISO 19107:2003].

EXAMPLE 
Breaklines represent local ridges or depressions (streams or drainage lines) in the surface, man-made structures (e.g. roads), etc. 

NOTE 1  A breakline connects points with different elevation and therefore its description using 2.5-D coordinates (using the 'geometry' attribute) is fully recommended.

NOTE 2  No triangle in a TIN may cross a breakline (in other words, breakline segments are enforced as triangle edges), even if doing so violates the triangulation criterion.

NOTE 3  All breaklines are located on the ground surface or on any of the artificial structures built on it. 

NOTE 4  Breaklines are useful as input data for the generation of a more appropriate or accurate digital elevation model by using interpolation methods.</documentation>
		</annotation>
	</element>
	<complexType name="BreakLineType">
		<complexContent>
			<extension base="el-vec:ElevationVectorObjectType">
				<sequence>
					<element name="breakLineType" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Name --
break line type

-- Definition --
The type of break line with regard the natural or man-made real world characteristic it represents, or the specific function it has in calculating a Digital Elevation Model (DEM).</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="geometry" type="gml:CurvePropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
Represents the geometric properties of the spatial object.</documentation>
						</annotation>
					</element>
					<element name="manMadeBreak" nillable="true">
						<annotation>
							<documentation>-- Name --
man-made break

-- Definition --
Line which represents an elevation break due to an artificial or man-made construction present on the terrain.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BreakLinePropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:BreakLine"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ContourLine" type="el-vec:ContourLineType" substitutionGroup="el-vec:ElevationVectorObject">
		<annotation>
			<documentation>-- Name --
contour line

-- Definition --
Linear spatial object composed of a set of adjoining locations characterized by having the same elevation property value. It describes, together with other contour lines present in the area, the local morphology of the Earth's surface.

-- Description --
NOTE 1 The attribute propertyType is equal to 'height' in the case of contour lines and it is equal to 'depth' in the case of depth contours.</documentation>
		</annotation>
	</element>
	<complexType name="ContourLineType">
		<complexContent>
			<extension base="el-vec:ElevationVectorObjectType">
				<sequence>
					<element name="contourLineType" nillable="true">
						<annotation>
							<documentation>-- Name --
contour line type

-- Definition --
The type of contour line with regard to the normal contour vertical interval (if any).

-- Description --
NOTE This attribute is often applicable to contour lines describing the relief of a land-based area. For depth contours describing the floor of a water body is not always applicable.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="el-vec:ContourLineTypeValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="downRight" nillable="true">
						<annotation>
							<documentation>-- Name --
down right

-- Definition --
Property indicating that the contour line spatial object is digitized in a way that the height of the elevation surface is lower at the right side of the line.

-- Description --
NOTE 1 In the case of contour lines, when the downRight attribute is 'true' this indicates that the height of the surface is lower at the right side of the line.

NOTE 2 In the case of depth contours, when the downRight attribute is 'true' this indicates that the depth of the surface is higher at the right side of the line.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geometry" type="gml:CurvePropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
Represents the geometric properties of the spatial object.</documentation>
						</annotation>
					</element>
					<element name="propertyValue" type="gml:DirectPositionType">
						<annotation>
							<documentation>-- Name --
property value

-- Definition --
Value of the elevation property of the spatial object referred to a specific vertical coordinate reference system.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContourLinePropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:ContourLine"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="ContourLineTypeValueType">
		<annotation>
			<documentation>-- Name --
contour line type value

-- Definition --
List of possible categories of contour lines based on the equidistance parameter of the data set.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="master">
				<annotation>
					<documentation>-- Name --
master

-- Definition --
Contour at a vertical distance which is multiple to the equidistance parameter (corresponding to a certain multiple of the normal contour vertical interval) associated with the nominal scale.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ordinary">
				<annotation>
					<documentation>-- Name --
ordinary

-- Definition --
Contour at the equidistance parameter (corresponding to the normal contour vertical interval) associated with the nominal scale, and which is not a master contour.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="auxiliary">
				<annotation>
					<documentation>-- Name --
auxiliary

-- Definition --
A supplementary contour &amp;ndash; not corresponding to the normal contour vertical interval &amp;ndash; estimated or interpolated from surrounding contours, used in areas where there is insufficient height information for elevation mapping purposes or to control the creation of a digital elevation model. 

-- Description --
NOTE This term is equivalent to the value 'intermediate' used in some Member States.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<element name="IsolatedArea" type="el-vec:IsolatedAreaType" substitutionGroup="el-vec:ElevationVectorObject">
		<annotation>
			<documentation>-- Name --
isolated area

-- Definition --
Delimitation of an area of the Earth's surface where an isolated part of the elevation model exists. Its outside surroundings have no elevation information.

-- Description --
SOURCE Adapted from "IslandArea" [GIS4EU D3.5].

NOTE 1 It includes the delimitation of any island of elevation data which are isolated from the main DEM. They may be included inside void areas.

NOTE 2 Isolated areas can be useful as masks when calculating a more appropriate or accurate DEM.</documentation>
		</annotation>
	</element>
	<complexType name="IsolatedAreaType">
		<complexContent>
			<extension base="el-vec:ElevationVectorObjectType">
				<sequence>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
Represents the geometric properties of the spatial object.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="IsolatedAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:IsolatedArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ChartDatum" type="el-vec:ChartDatumType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
chart datum

-- Definition --
Local vertical coordinate reference system which is used to refer and portray depth measurements as property values.

-- Description --
NOTE This data type is intended to describe the main characteristics of a vertical CRS for measurement of depths in cases where this information is rarely or not available through a CRS registry (e.g. like EPSG).

EXAMPLE Local datums for referring depths in lakes and navigable rivers.</documentation>
		</annotation>
	</element>
	<complexType name="ChartDatumType">
		<sequence>
			<element name="datumWaterLevel" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name --
datum water level

-- Definition --
Water level determining the origin of depth measurements for the chart datum.

-- Description --
EXAMPLE High water, low water, etc.

NOTE 1 Values in the code list are applicable either for sea or inland waters.

NOTE 2 When defining a depth datum for inland waters, it is recommended the use of "highWater", "lowWater" or "meanWaterLevel" - as applicable. All the other levels in the code list are well defined but usually just locally and do not serve for cross border purposes.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="offset" type="gml:MeasureType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name --
offset

-- Definition --
Relative difference between the height of each reference point and the height of the water level determining the chart datum.

-- Description --
NOTE 1 In order to calculate the offset parameter, the height(s) of the reference point(s) and the height of the water level determining the chart datum must be compared in the same vertical CRS.

NOTE 2 When a single reference point is provided, the offset parameter is supposed to be zero (by default). If this condition is true, there is no need to inform the offset parameter.

NOTE 3 When a set of reference points is provided, an individual offset parameter shall be provided for each of these points. The multiplicity between both properties - "referencePoint" and "offset" - is ordered with the aim to maintain this correspondence.</documentation>
				</annotation>
			</element>
			<element name="referencePoint" type="gml:PointPropertyType" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name --
reference point

-- Definition --
Geographical position(s) of:
- Case A: a single point which is used to refer depth values within the geographical scope of the chart datum.
- Case B: a set of points where water level measurements are performed to determine the water level of the chart datum.

-- Description --
NOTE 1 The altimetric position of each reference point must be its height in a common vertical CRS: 
- in EVRS within its geographical scope (continental Europe).
- in a vertical CRS identified and documented by the Member State concerned, outside the geographical scope of EVRS (overseas territories).
&lt;font color="#ff0000"&gt;
&lt;/font&gt;NOTE 2 In Case A - The altimetric position of the reference point can be directly utilised as input to calculate approximate heights in a common vertical CRS for those vector objects whose depth values are referred to the chart datum. 

NOTE 3 In Case B - The altimetric positions of the reference points can be utilised, together with the respective offset parameter, as input to calculate approximate heights in a common vertical CRS for those vector objects whose depth values are referred to the water level of the chart datum. 

NOTE 4 The common vertical CRS mentioned in Note 2 and Note 3 shall be the one determined by Note 1.</documentation>
				</annotation>
			</element>
			<element name="scope">
				<annotation>
					<documentation>-- Name --
scope

-- Definition --
Geographic scope in which the local depth datum is practically used.

-- Description --
NOTE Chart datums should only be used to refer and portray depths at local level, since they are determined by a local water level. 

EXAMPLE 1 Lake or part of a lake in which a specific water level is used as depth datum.

EXAMPLE 2 River section in which a specific water level is used as depth datum.

EXAMPLE 3 Extent of the sea area in which a specific local tide level is used as depth datum.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMetadataPropertyType">
							<sequence minOccurs="0">
								<element ref="gmd:EX_Extent"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ChartDatumPropertyType">
		<sequence>
			<element ref="el-vec:ChartDatum"/>
		</sequence>
	</complexType>
	<element name="VoidArea" type="el-vec:VoidAreaType" substitutionGroup="el-vec:ElevationVectorObject">
		<annotation>
			<documentation>-- Name --
void area

-- Definition --
Area of the Earth's surface where the elevation model is unknown because of missing input data. This area shall be excluded from a DEM.

-- Description --
SOURCE "ObscureArea" [GIS4EU D3.5].

NOTE 1 A void area may contain a number of isolated areas with elevation data. These are considered as holes of the container void area.

NOTE 2  Void areas can be useful as masks when calculating a more appropriate or accurate DEM.</documentation>
		</annotation>
	</element>
	<complexType name="VoidAreaType">
		<complexContent>
			<extension base="el-vec:ElevationVectorObjectType">
				<sequence>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
Represents the geometric properties of the spatial object.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VoidAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:VoidArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SpotElevation" type="el-vec:SpotElevationType" substitutionGroup="el-vec:ElevationVectorObject">
		<annotation>
			<documentation>-- Name --
spot elevation

-- Definition --
Point spatial object which describes the elevation of an Earth's surface at a specific location. It provides a single elevation property value.

-- Description --
NOTE 1 It often represents a singular point in the morphology of a land or water body's floor surface.

NOTE 2 The attribute propertyType is equal to 'height' in the case of spot heights. It is equal to 'depth' in the case of spot depths.</documentation>
		</annotation>
	</element>
	<complexType name="SpotElevationType">
		<complexContent>
			<extension base="el-vec:ElevationVectorObjectType">
				<sequence>
					<element name="classification" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>-- Name --
classification

-- Definition --
Class of spot elevation according to the LAS specification of the American Society for Photogrammetry and Remote Sensing (ASPRS).</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="geographicalName" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
geographical name

-- Definition --
A geographical name that is used to identify a named land or water body's floor location in the real world, which is represented by the spot elevation spatial object.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gn:GeographicalName"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
Represents the geometric properties of the spatial object.</documentation>
						</annotation>
					</element>
					<element name="propertyValue" type="gml:DirectPositionType">
						<annotation>
							<documentation>-- Name --
property value

-- Definition --
Value of the elevation property of the spatial object referred to a specific vertical coordinate reference system.</documentation>
						</annotation>
					</element>
					<element name="spotElevationType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>-- Name --
spot elevation type

-- Definition --
The type of elevation spot.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SpotElevationPropertyType">
		<sequence minOccurs="0">
			<element ref="el-vec:SpotElevation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
