inspire/schemas/cvbase/1.0/CoverageBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cvbase="http://inspire.ec.europa.eu/schemas/cvbase/1.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://inspire.ec.europa.eu/schemas/cvbase/1.0" elementFormDefault="qualified" version="1.0">
	<annotation>
		<documentation>-- Definition --
base schema for coverages</documentation>
	</annotation>
	<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../../schemas/iso/19139/20070417/gco/gco.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Coverage" type="cvbase:CoverageType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
coverage

-- Definition --
Spatial object that acts as a function to return values from its range for any direct position within its spatial, temporal or spatiotemporal domain.

-- Description --
EXAMPLE	Examples include a raster image, polygon overlay or digital elevation matrix.

NOTE	In other words, a coverage is a feature that has multiple values for each attribute type, where each direct position within the geometric representation of the feature has a single value for each attribute type.</documentation>
		</annotation>
	</element>
	<complexType name="CoverageType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="metadata" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
metadata

-- Definition --
Application specific metadata of the coverage.

-- Description --
NOTE	The values of this property will typically be constrained in subtypes or in profiles specified by information communities.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="rangeType">
						<annotation>
							<documentation>-- Name --
range type

-- Definition --
Description of the structure of the range values.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gco:RecordType"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CoveragePropertyType">
		<sequence minOccurs="0">
			<element ref="cvbase:Coverage"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
