inspire/schemas/bu-core2d/3.0/BuildingsCore2D.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bu-base="http://inspire.ec.europa.eu/schemas/bu-base/3.0" xmlns:bu-core2d="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Name --
Building 2D

-- Definition --
The 2D application schema for INSPIRE theme buildings.</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/bu-base/3.0" schemaLocation="../../schemas/bu-base/3.0/BuildingsBase.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Building" type="bu-core2d:BuildingType" substitutionGroup="bu-base:Building">
		<annotation>
			<documentation>-- Name --
Building

-- Definition --
A Building is an enclosed construction above and/or underground, used or intended for the shelter of humans, animals or things or for the production of economic goods. A building refers to any structure permanently constructed or erected on its site.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingType">
		<complexContent>
			<extension base="bu-base:BuildingType">
				<sequence>
					<element name="geometry2D" type="bu-base:BuildingGeometry2DPropertyType">
						<annotation>
							<documentation>-- Name --
Geometry 2D

-- Definition --
2D or 2.5D geometric representation of the building.

-- Description --
&lt;font color="#0f0f0f"&gt;NOTE: Multiple representations of the geometry are possible (e.g. by surface and by point).&lt;/font&gt;</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPropertyType">
		<sequence minOccurs="0">
			<element ref="bu-core2d:Building"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingPart" type="bu-core2d:BuildingPartType" substitutionGroup="bu-base:BuildingPart">
		<annotation>
			<documentation>-- Name --
Building part

-- Definition --
A BuildingPart is a sub-division of a Building that might be considered itself as a building.

-- Description --
NOTE 1: A BuildingPart is homogeneous related to its physical, functional or temporal aspects. 

NOTE 2: Building and BuildingPart share the same set of properties.
EXAMPLE: A building may be composed of two building parts having different heights above ground.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingPartType">
		<complexContent>
			<extension base="bu-base:BuildingPartType">
				<sequence>
					<element name="geometry2D" type="bu-base:BuildingGeometry2DPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
Geometry 2D

-- Definition --
&lt;font color="#0f0f0f"&gt;2D or 2.5D geometric representation of the building part.&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;-- Description --&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;NOTE: Multiple representations of the geometry are possible (e.g. by surface and by point).&lt;/font&gt;</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPartPropertyType">
		<sequence minOccurs="0">
			<element ref="bu-core2d:BuildingPart"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
