schemas/lcn/3.0/LandCoverNomenclature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lcn="http://inspire.ec.europa.eu/schemas/lcn/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/lcn/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>application schema for Land Cover Nomenclature</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/base2/1.0" schemaLocation="../../schemas/base2/1.0/BaseTypes2.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="LandCoverNomenclature" type="lcn:LandCoverNomenclatureType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Land Cover Nomenclature

-- Definition --
Information about reference national, institutional or local Land Cover nomenclature.

-- Description --
Land Cover Nomenclature allows to reference nomenclatures documentation and associated code list, and to define them through an external reference or included within the data according 19144-2.</documentation>
		</annotation>
	</element>
	<complexType name="LandCoverNomenclatureType">
		<sequence>
			<element name="embeddedDescription" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Name --
embedded Description

-- Definition --
An embedded encoding of the classification system according to ISO 19144-2.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="anyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="inspireId" type="base:IdentifierPropertyType">
				<annotation>
					<documentation>-- Name --
inspireId

-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
				</annotation>
			</element>
			<element name="nomenclatureCodeList" type="anyURI">
				<annotation>
					<documentation>-- Name --
nomenclatureCodeList

-- Definition --
An http URI pointing to the code list attached to the nomenclature used.</documentation>
				</annotation>
			</element>
			<element name="externalDescription" nillable="true" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name --
externalDescription

-- Definition --
Document describing the nomenclature used in this data set.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="base2:DocumentCitation"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="responsibleParty" type="base2:RelatedPartyPropertyType">
				<annotation>
					<documentation>-- Name --
responsible party

-- Definition --
Party responsible for the development and/or maintenance of the nomenclature.

-- Description --
The responsible party could be EEA, a national or local mapping  agency, ...</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="LandCoverNomenclaturePropertyType">
		<sequence>
			<element ref="lcn:LandCoverNomenclature"/>
		</sequence>
	</complexType>
</schema>
