schemas/br/3.0/Bio-geographicalRegions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:br="http://inspire.ec.europa.eu/schemas/br/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://inspire.ec.europa.eu/schemas/br/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>Application schema for Bio-geographical Regions</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Bio-geographicalRegion" type="br:Bio-geographicalRegionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
bio-geographical region

-- Definition --
An area in which there are relatively homogeneous ecological conditions with common characteristics. 

-- Description --
EXAMPLE Europe is divided into eleven broad bio-geographical terrestrial zones and 5 zones for marine bio-geographical regions. 

NOTE The marine regions are used in the context of Natura2000 due to practical / technical reasons only; they do not have any legal status in contrast to the "terrestrial" Bio-geographical Regions.</documentation>
		</annotation>
	</element>
	<complexType name="Bio-geographicalRegionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Name --
inspire id

-- Definition --
External object identifier of the spatial object.

-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="geometry" type="gml:MultiSurfacePropertyType">
						<annotation>
							<documentation>-- Name --
geometry

-- Definition --
The geometry defining the ecological region.</documentation>
						</annotation>
					</element>
					<element name="regionClassification" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Name --
region classification

-- Definition --
Regionclass code, according to a classification scheme.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="regionClassificationScheme" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Name --
region classification scheme

-- Definition --
Classification scheme used for classifying regions.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="regionClassificationLevel" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>-- Name --
region classification level

-- Definition --
The classification level of the region class.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Name --
begin lifespan version

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Name --
end lifespan version

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Bio-geographicalRegionPropertyType">
		<sequence minOccurs="0">
			<element ref="br:Bio-geographicalRegion"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
