schemas/tn-w/4.0/WaterTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="http://inspire.ec.europa.eu/schemas/net/4.0" xmlns:tn="http://inspire.ec.europa.eu/schemas/tn/4.0" xmlns:tn-w="http://inspire.ec.europa.eu/schemas/tn-w/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/tn-w/4.0" version="4.0">
  <annotation>
    <documentation>-- Definition --
This package defines the types that are used on the water transport subtheme.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/net/4.0" schemaLocation="../../schemas/net/4.0/Network.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/tn/4.0" schemaLocation="../../schemas/tn/4.0/CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Beacon" substitutionGroup="tn:TransportPoint" type="tn-w:BeaconType">
    <annotation>
      <documentation>-- Definition --
A prominent specially constructed object forming a conspicuous mark as a fixed aid to navigation, or for use in hydrographic survey.

-- Description --
SOURCE  [S-32 - IHO International Hydrographic Dictionary].</documentation>
    </annotation>
  </element>
  <complexType name="BeaconType">
    <complexContent>
      <extension base="tn:TransportPointType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BeaconPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:Beacon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Buoy" substitutionGroup="tn:TransportPoint" type="tn-w:BuoyType">
    <annotation>
      <documentation>-- Definition --
A floating object moored to the bottom in a particular (charted) place, as an aid to navigation or for other specific purposes.

-- Description --
SOURCE  [S-32 - IHO International Hydrographic Dictionary]

NOTE Navigational buoys may be classified according to: (a) their shape, appearance, or construction, such as barrel, can, cask, conical, cylindrical, dan, keg, nun, pillar, spar, spherical, or topmark buoy; (b) their colour, such as black, chequered, green, red buoy; (c) their location, such as bifurcation, fairway, junction, mid-channel, middle-ground, or turning buoy; (d) the various kinds of hazards or dangers to navigation which they mark, such as bar, isolated danger, fish trap, obstruction, spoil ground, telegraph or wreck buoy; (e) their particular purpose or use, such as anchor, anchorage, compass adjustment, dredging, farewell (or landfall), marker, quarantine, station (or watch), or warping buoy. [S-32 - IHO International Hydrographic Dictionary].</documentation>
    </annotation>
  </element>
  <complexType name="BuoyType">
    <complexContent>
      <extension base="tn:TransportPointType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuoyPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:Buoy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CEMTClass" substitutionGroup="tn:TransportProperty" type="tn-w:CEMTClassType">
    <annotation>
      <documentation>-- Definition --
Classification of an inland waterway according to CEMT (European Conference of Ministers of Transport).</documentation>
    </annotation>
  </element>
  <complexType name="CEMTClassType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="CEMTClass" type="tn-w:CEMTClassValueType">
            <annotation>
              <documentation>-- Definition --
Value indicating the classification of an Inland waterway according to CEMT (European Conference of Ministers of Transport).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CEMTClassPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:CEMTClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="CEMTClassValueType">
    <annotation>
      <documentation>-- Definition --
Inland waterway classification according to CEMT (European Conference of Ministers of Transport) Resolution No.92/2.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class I, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="II">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class II, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="III">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class III, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IV">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class IV, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Va">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class Va, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vb">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class Vb, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VIa">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class VIa, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VIb">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class VIb, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VIc">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class VIc, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VII">
        <annotation>
          <documentation>-- Definition --
Inland waterway belonging to CEMT-class VII, defined by the European Conference of Ministers of Transport, Resolution No.92/2 - Table 1.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ConditionOfWaterFacility" substitutionGroup="tn:ConditionOfFacility" type="tn-w:ConditionOfWaterFacilityType">
    <annotation>
      <documentation>-- Definition --
State of a water transport network element with regards to its completion and use.</documentation>
    </annotation>
  </element>
  <complexType name="ConditionOfWaterFacilityType">
    <complexContent>
      <extension base="tn:ConditionOfFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionOfWaterFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:ConditionOfWaterFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FairwayArea" substitutionGroup="tn:TransportArea" type="tn-w:FairwayAreaType">
    <annotation>
      <documentation>-- Definition --
The main travelled part of a waterway.

-- Description --
SOURCE  [International Hydrographic Dictionary].

NOTE That part of a river, harbour and so on, where the main navigable channel for vessels of larger size lies. It is also the usual course followed by vessels entering or leaving harbours, called 'ship channel' [IHO Hidrographic Registry].</documentation>
    </annotation>
  </element>
  <complexType name="FairwayAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FairwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:FairwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FerryCrossing" substitutionGroup="tn-w:Waterway" type="tn-w:FerryCrossingType">
    <annotation>
      <documentation>-- Definition --
A special waterway aimed at supporting the transport of passengers, vehicles or other cargo/freight across a water body, and which is normally used as a connection linking two or more nodes of a land based transport network.</documentation>
    </annotation>
  </element>
  <complexType name="FerryCrossingType">
    <complexContent>
      <extension base="tn-w:WaterwayType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerryCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:FerryCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FerryUse" substitutionGroup="tn:TransportProperty" type="tn-w:FerryUseType">
    <annotation>
      <documentation>-- Definition --
The type of transport carried out by a ferry crossing.</documentation>
    </annotation>
  </element>
  <complexType name="FerryUseType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element maxOccurs="unbounded" name="ferryUse" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Value indicating the type of transport carried out by a ferry crossing.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerryUsePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:FerryUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="InlandWaterway" substitutionGroup="tn-w:Waterway" type="tn-w:InlandWaterwayType">
    <annotation>
      <documentation>-- Definition --
Waterway which is defined at inland continental waters.

-- Description --
EXAMPLE The inland waterways classified by the CEMT (European Conference of Ministers of Transport).</documentation>
    </annotation>
  </element>
  <complexType name="InlandWaterwayType">
    <complexContent>
      <extension base="tn-w:WaterwayType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InlandWaterwayPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:InlandWaterway"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MarineWaterway" substitutionGroup="tn-w:Waterway" type="tn-w:MarineWaterwayType">
    <annotation>
      <documentation>-- Definition --
Waterway which is defined at sea waters.</documentation>
    </annotation>
  </element>
  <complexType name="MarineWaterwayType">
    <complexContent>
      <extension base="tn-w:WaterwayType">
        <sequence>
          <element name="deepWaterRoute" nillable="true">
            <annotation>
              <documentation>-- Definition --
Attribute which indicates if the maritime waterway is a deep water route.

DEFINITION Deep water route: A route in a designated area within defined limits which has been accurately surveyed for clearance of sea bottom and submerged obstacles to a minimum indicated depth of water [S-32 - IHO International Hydrographic Dictionary].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MarineWaterwayPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:MarineWaterway"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortArea" substitutionGroup="tn:TransportArea" type="tn-w:PortAreaType">
    <annotation>
      <documentation>-- Definition --
An area spatial object which is used to represent the physical limits of all the facilities which constitute the terrestrial zone of a sea or inland port.</documentation>
    </annotation>
  </element>
  <complexType name="PortAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:PortArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortNode" substitutionGroup="tn-w:WaterNode" type="tn-w:PortNodeType">
    <annotation>
      <documentation>-- Definition --
A point spatial object which is used to represent a sea or inland port in a simplified way, aproximately located at the bank of the waterbody where the port is placed. 

-- Description --
NOTE It is used to connect the port with the rest of the water transport network, by means of the different waterway links which arrive to / depart from it.</documentation>
    </annotation>
  </element>
  <complexType name="PortNodeType">
    <complexContent>
      <extension base="tn-w:WaterNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:PortNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RestrictionForWaterVehicles" substitutionGroup="tn:RestrictionForVehicles" type="tn-w:RestrictionForWaterVehiclesType">
    <annotation>
      <documentation>-- Definition --
Restriction on vehicles on a water transport element.</documentation>
    </annotation>
  </element>
  <complexType name="RestrictionForWaterVehiclesType">
    <complexContent>
      <extension base="tn:RestrictionForVehiclesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RestrictionForWaterVehiclesPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:RestrictionForWaterVehicles"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TrafficSeparationScheme" substitutionGroup="gml:AbstractFeature" type="tn-w:TrafficSeparationSchemeType">
    <annotation>
      <documentation>-- Definition --
A scheme which aims at reducing the risk of collision in congested and/or converging areas by separating traffic moving in opposite, or nearly opposite, directions.

-- Description --
SOURCE  [S-32 - IHO International Hydrographic Dictionary]

NOTE 1 Acronym: TSS.

NOTE 2 TSSs constitute main components of maritime routing measures for hydrographic transport.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="TrafficSeparationSchemeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="markerBuoy">
            <annotation>
              <documentation>-- Definition --
A marker forming part of a traffic separation scheme.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-w:Buoy</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="marineWaterRoute">
            <annotation>
              <documentation>-- Definition --
The collection of marine waterways associated with a traffic separation scheme.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-w:MarineWaterway</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="component">
            <annotation>
              <documentation>-- Definition --
A component of a traffic separation scheme.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-w:TrafficSeparationSchemeArea</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="markerBeacon">
            <annotation>
              <documentation>-- Definition --
A marker forming part of a traffic separation scheme.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-w:Beacon</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationScheme"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TrafficSeparationSchemeArea" substitutionGroup="tn:TransportArea" type="tn-w:TrafficSeparationSchemeAreaType">
    <annotation>
      <documentation>-- Definition --
An area spatial object forming part of a traffic separation scheme.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="TrafficSeparationSchemeAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationSchemeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficSeparationSchemeCrossing" substitutionGroup="tn-w:TrafficSeparationSchemeArea" type="tn-w:TrafficSeparationSchemeCrossingType">
    <annotation>
      <documentation>-- Definition --
A defined area where traffic lanes cross.

-- Description --
SOURCE [IHO Hydrographic Registry].</documentation>
    </annotation>
  </element>
  <complexType name="TrafficSeparationSchemeCrossingType">
    <complexContent>
      <extension base="tn-w:TrafficSeparationSchemeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemeCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationSchemeCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficSeparationSchemeLane" substitutionGroup="tn-w:TrafficSeparationSchemeArea" type="tn-w:TrafficSeparationSchemeLaneType">
    <annotation>
      <documentation>-- Definition --
An area within defined limits in which one-way traffic flow is established.

-- Description --
SOURCE [IMO Ships Routeing, 6th Edition], [IHO Hydrographic Registry].</documentation>
    </annotation>
  </element>
  <complexType name="TrafficSeparationSchemeLaneType">
    <complexContent>
      <extension base="tn-w:TrafficSeparationSchemeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemeLanePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationSchemeLane"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficSeparationSchemeRoundabout" substitutionGroup="tn-w:TrafficSeparationSchemeArea" type="tn-w:TrafficSeparationSchemeRoundaboutType">
    <annotation>
      <documentation>-- Definition --
A traffic separation scheme in which traffic moves in a counter-clockwise direction around a specified point or zone. 

-- Description --
SOURCE [IHO Hydrographic Registry].</documentation>
    </annotation>
  </element>
  <complexType name="TrafficSeparationSchemeRoundaboutType">
    <complexContent>
      <extension base="tn-w:TrafficSeparationSchemeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemeRoundaboutPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationSchemeRoundabout"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficSeparationSchemeSeparator" substitutionGroup="tn-w:TrafficSeparationSchemeArea" type="tn-w:TrafficSeparationSchemeSeparatorType">
    <annotation>
      <documentation>-- Definition --
A zone separating the lanes in which ships are proceeding in opposite or nearly opposite directions; or separating traffic lanes designated for particular classes of ships proceeding in the same direction.

-- Description --
SOURCE [IHO Hydrographic Registry].</documentation>
    </annotation>
  </element>
  <complexType name="TrafficSeparationSchemeSeparatorType">
    <complexContent>
      <extension base="tn-w:TrafficSeparationSchemeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficSeparationSchemeSeparatorPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:TrafficSeparationSchemeSeparator"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-w:WaterLinkSequenceType">
    <annotation>
      <documentation>-- Definition --
A linear spatial object, composed of an ordered collection of waterway and/or watercourse links (as necessary), which represents a continuous path in the water network without any branches.

-- Description --
NOTE The element has a defined beginning and end and every position on the water link sequence is identifiable with one single parameter such as length. It describes a element of the water network, which is a navigable path within a water body (oceans, seas, rivers, lakes, channels or canals) and could be characterized by one or more thematical identifiers and/or properties.</documentation>
    </annotation>
  </element>
  <complexType name="WaterLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:WaterLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WaterNode" substitutionGroup="tn:TransportNode" type="tn-w:WaterNodeType">
    <annotation>
      <documentation>-- Definition --
A point spatial object which is used to represent the connectivity between two different waterway links, or between a waterway link and a watercourse link, in the water transport network.

-- Description --
NOTE It is also used to represent a significant feature in the network, such as a port.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="WaterNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:WaterNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterTrafficFlowDirection" substitutionGroup="tn:TrafficFlowDirection" type="tn-w:WaterTrafficFlowDirectionType">
    <annotation>
      <documentation>-- Definition --
Indicates the direction of the flow of water transport traffic in relation to the direction of the water transport link vector.</documentation>
    </annotation>
  </element>
  <complexType name="WaterTrafficFlowDirectionType">
    <complexContent>
      <extension base="tn:TrafficFlowDirectionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterTrafficFlowDirectionPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:WaterTrafficFlowDirection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Waterway" substitutionGroup="tn:TransportLinkSet" type="tn-w:WaterwayType">
    <annotation>
      <documentation>-- Definition --
A collection of water link sequences and or individual waterway and/or watercourse links (as necessary) that are characterized by one or more thematical identifiers and/or properties, which perform a navigable route within a water body (oceans, seas, rivers, lakes, channels or canals).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="WaterwayType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:Waterway"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterwayLink" substitutionGroup="tn:TransportLink" type="tn-w:WaterwayLinkType">
    <annotation>
      <documentation>-- Definition --
A linear spatial object that describes the geometry or connectivity of the water transport network between two consecutive waterway or watercourse nodes. It represents a linear section across a body of water which is used for shipping.

-- Description --
NOTE Water Transport Networks will use the &lt;i&gt;WatercourseLink&lt;/i&gt; class - provided by the INSPIRE Hydrography Data Specification - wherever possible.</documentation>
    </annotation>
  </element>
  <complexType name="WaterwayLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:WaterwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterwayNode" substitutionGroup="tn-w:WaterNode" type="tn-w:WaterwayNodeType">
    <annotation>
      <documentation>-- Definition --
A point spatial object which is used to represent the connectivity between two different waterway links, or between a waterway link and a watercourse link, in the water transport network.</documentation>
    </annotation>
  </element>
  <complexType name="WaterwayNodeType">
    <complexContent>
      <extension base="tn-w:WaterNodeType">
        <sequence>
          <element name="formOfWaterwayNode" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Description of the function of a waterway node in the water transport network.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-w:WaterwayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
