inspire/schemas/us-net-ogc/4.0/OilGasChemicalsNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:us-net-ogc="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" version="4.0">
  <annotation>
    <documentation>-- Name --
oil, gas &amp; chemicals utility network

-- Definition --
Oil, gas &amp; chemicals network sub-domain.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="../../schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="OilGasChemicalsPipe" substitutionGroup="us-net-common:Pipe" type="us-net-ogc:OilGasChemicalsPipeType">
    <annotation>
      <documentation>-- Name --
oil, gas and chemicals pipe

-- Definition --
A pipe used to convey oil, gas or chemicals from one location to another.</documentation>
    </annotation>
  </element>
  <complexType name="OilGasChemicalsPipeType">
    <complexContent>
      <extension base="us-net-common:PipeType">
        <sequence>
          <element maxOccurs="unbounded" name="oilGasChemicalsProductType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
oil, gas and chemicals product type

-- Definition --
The type of oil, gas or chemicals product that is conveyed through the oil, gas, chemicals pipe.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OilGasChemicalsPipePropertyType">
    <sequence minOccurs="0">
      <element ref="us-net-ogc:OilGasChemicalsPipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
