schemas/nz-core/4.0/NaturalRiskZonesCore.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:ef="http://inspire.ec.europa.eu/schemas/ef/4.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:nz-core="http://inspire.ec.europa.eu/schemas/nz-core/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/nz-core/4.0" version="4.0">
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="../../schemas/base/3.3/BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="../../schemas/base2/2.0/BaseTypes2.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/ef/4.0" schemaLocation="../../schemas/ef/4.0/EnvironmentalMonitoringFacilities.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gmlcov/1.0" schemaLocation="../../schemas/ogc/gmlcov/1.0/coverage.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="AbstractExposedElement" substitutionGroup="gml:AbstractFeature" type="nz-core:AbstractExposedElementType">
    <annotation>
      <documentation>-- Definition --
SOURCE : [UNISDR, 2009]

People, property, systems, or other elements present in hazard zones that are thereby subject to potential losses.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractExposedElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the exposed element.</documentation>
            </annotation>
          </element>
          <element name="beginLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time when the exposed element started to exist in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time from which the exposed element no longer exists in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="sourceOfSpatialRepresentation" nillable="true" type="gml:FeaturePropertyType">
            <annotation>
              <documentation>-- Definition --
The source object which is used to represent the exposed element.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractExposedElementPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:AbstractExposedElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractHazardArea" substitutionGroup="gml:AbstractFeature" type="nz-core:AbstractHazardAreaType">
    <annotation>
      <documentation>-- Definition --
An area affected by a natural hazard.

-- Description --
A natural hazard is a natural process or phenomenon that may cause loss of life, injury or other impacts, property damage, loss livelihoods and services, social and economic disruption, or environmental damage. [Council of The European Union - Commission Staff Working Paper - Risk Assessment and Mapping Guidelines for Disaster Management].</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractHazardAreaType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="determinationMethod" type="nz-core:DeterminationMethodValueType">
            <annotation>
              <documentation>-- Definition --
Specifies if the hazard area result is delineated after modelling or determined after interpretation.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the hazard area.</documentation>
            </annotation>
          </element>
          <element name="typeOfHazard" type="nz-core:NaturalHazardClassificationPropertyType">
            <annotation>
              <documentation>-- Definition --
A generic classification and a specific classification of the type of natural hazard.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="validityPeriod" nillable="true" type="gml:TimePeriodPropertyType">
            <annotation>
              <documentation>-- Definition --
Future finite time frame where the hazard applies.

-- Description --
It is an interval of dates, or the expression of a time frame for which the estimates are meant (eg: until 2090; summer of 2011; winter seasons until 2015).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="source" nillable="true">
            <annotation>
              <documentation>-- Definition --
The observed event that triggered the modelling of a hazard area.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="nz-core:AbstractObservedEvent"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractHazardAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:AbstractHazardArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractObservedEvent" substitutionGroup="gml:AbstractFeature" type="nz-core:AbstractObservedEventType">
    <annotation>
      <documentation>-- Definition --
A natural phenomenon relevant to the study of natural hazards which occurred and which has been observed.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractObservedEventType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.</documentation>
            </annotation>
          </element>
          <element name="nameOfEvent" nillable="true">
            <annotation>
              <documentation>-- Definition --
common name of the observed event.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="typeOfHazard" type="nz-core:NaturalHazardClassificationPropertyType">
            <annotation>
              <documentation>-- Definition --
A generic classification and a specific classification of the type of hazard.</documentation>
            </annotation>
          </element>
          <element name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time when the observed event started to exist in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
The time from which the observed event no longer exists in the real world.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="isMonitoredBy" nillable="true">
            <annotation>
              <documentation>-- Definition --
The program that monitors the observed event.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringProgramme"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractObservedEventPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:AbstractObservedEvent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractRiskZone" substitutionGroup="gml:AbstractFeature" type="nz-core:AbstractRiskZoneType">
    <annotation>
      <documentation>-- Definition --
A risk zone is the spatial extent of a combination of the consequences of an event (hazard) and the associated probability/likelihood of its occurrence.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractRiskZoneType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifeSpanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.</documentation>
            </annotation>
          </element>
          <element name="sourceOfRisk" type="nz-core:NaturalHazardClassificationPropertyType">
            <annotation>
              <documentation>-- Definition --
A generic classification and a specific classification of the type of hazard which is the source of risk.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="validityPeriod" nillable="true" type="gml:TimePeriodPropertyType">
            <annotation>
              <documentation>-- Definition --
Future finite time frame where the model applies.

-- Description --
It is an interval of dates, or the expression of a time frame for which the estimates are meant (eg: until 2090; summer of 2011; winter seasons until 2015).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="exposedElement" nillable="true">
            <annotation>
              <documentation>-- Definition --
The element that is within a hazardous area.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="nz-core:AbstractExposedElement"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element name="source" nillable="true">
            <annotation>
              <documentation>-- Definition --
The hazard which is considered for the creation of the risk zone object.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="nz-core:AbstractHazardArea"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractRiskZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:AbstractRiskZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="DeterminationMethodValueType">
    <annotation>
      <documentation>-- Definition --
An enumeration to describe the method used to define the area of hazard or risk.

-- Description --
There are several ways to delineate the perimeter of a hazard or a risk : to model it, or to assess it indirectly</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="modelling">
        <annotation>
          <documentation>-- Definition --
The area has been computed according to a model.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="indirectDetermination">
        <annotation>
          <documentation>-- Definition --
The area has been defined by interpretation of available data and/or information.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ExposedElement" substitutionGroup="nz-core:AbstractExposedElement" type="nz-core:ExposedElementType">
    <annotation>
      <documentation>-- Definition --
Discrete spatial objects representing exposed element.</documentation>
    </annotation>
  </element>
  <complexType name="ExposedElementType">
    <complexContent>
      <extension base="nz-core:AbstractExposedElementType">
        <sequence>
          <element minOccurs="0" name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometric representation of the exposed element.

-- Description --
If the feature is linked to a spatially referenced INSPIRE feature, then it has no geometry. If not, then it has a geometry.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="assessmentOfVulnerability" nillable="true">
            <annotation>
              <documentation>-- Definition --
Assessment of the vulnerability of the exposed element.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:VulnerabilityAssessment"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExposedElementPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:ExposedElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ExposedElementClassification" substitutionGroup="gml:AbstractObject" type="nz-core:ExposedElementClassificationType">
    <annotation>
      <documentation>-- Definition --
This class provides piece of information about the nature of the exposed element which is relevant to risk analysis.</documentation>
    </annotation>
  </element>
  <complexType name="ExposedElementClassificationType">
    <sequence>
      <element name="exposedElementCategory" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
A generic classification of the types of elements that are exposed to a risk.</documentation>
        </annotation>
      </element>
      <element name="specificExposedElementType" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
An additional denomination of exposed element according to a nomenclature that is specific to this dataset.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ExposedElementClassificationPropertyType">
    <sequence>
      <element ref="nz-core:ExposedElementClassification"/>
    </sequence>
  </complexType>
  <element name="ExposedElementCoverage" substitutionGroup="gmlcov:AbstractCoverage" type="nz-core:ExposedElementCoverageType">
    <annotation>
      <documentation>-- Definition --
A coverage representating continuous information about exposed elements.</documentation>
    </annotation>
  </element>
  <complexType name="ExposedElementCoverageType">
    <complexContent>
      <extension base="gmlcov:AbstractCoverageType">
        <sequence>
          <element name="typeOfElement" nillable="true">
            <annotation>
              <documentation>-- Definition --
A classification of the exposed element.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:ExposedElementClassification"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExposedElementCoveragePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:ExposedElementCoverage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HazardArea" substitutionGroup="nz-core:AbstractHazardArea" type="nz-core:HazardAreaType">
    <annotation>
      <documentation>-- Definition --
Discrete spatial objects representing a natural hazard.</documentation>
    </annotation>
  </element>
  <complexType name="HazardAreaType">
    <complexContent>
      <extension base="nz-core:AbstractHazardAreaType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometric representation of spatial extent covered by the hazard area.</documentation>
            </annotation>
          </element>
          <element name="likelihoodOfOccurrence" nillable="true">
            <annotation>
              <documentation>-- Definition --
Likelihood is a general concept relating to the chance of an event occuring.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:LikelihoodOfOccurrence"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="magnitudeOrIntensity" nillable="true">
            <annotation>
              <documentation>-- Definition --
An expression of the magnitude or the intensity of a phenomenon.

-- Description --
It may address a value within the Richter scale, or a description of the european macro-seismic scale, or a flood flow, etc...</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:LevelOrIntensity"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HazardAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:HazardArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HazardCoverage" substitutionGroup="gmlcov:AbstractCoverage" type="nz-core:HazardCoverageType">
    <annotation>
      <documentation>-- Definition --
A coverage representing continuous information about a type of natural hazard.</documentation>
    </annotation>
  </element>
  <complexType name="HazardCoverageType">
    <complexContent>
      <extension base="gmlcov:AbstractCoverageType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HazardCoveragePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:HazardCoverage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LevelOrIntensity" substitutionGroup="gml:AbstractObject" type="nz-core:LevelOrIntensityType">
    <annotation>
      <documentation>-- Definition --
Quantitative or qualitative assessment of either risk, hazard or vulnerability.

-- Description --
Common concept for assessing the level of risk, or the level of hazard, or the level of vulnerability.</documentation>
    </annotation>
  </element>
  <complexType name="LevelOrIntensityType">
    <sequence>
      <element name="qualitativeValue" nillable="true">
        <annotation>
          <documentation>-- Definition --
A qualitative assessment of the level or intensity.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="quantitativeValue" nillable="true">
        <annotation>
          <documentation>-- Definition --
A quantitative assessment of the level or intensity.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="gml:MeasureType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="assessmentMethod" nillable="true">
        <annotation>
          <documentation>-- Definition --
A citation to the method used to express the level or intensity.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="base2:DocumentCitation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="LevelOrIntensityPropertyType">
    <sequence>
      <element ref="nz-core:LevelOrIntensity"/>
    </sequence>
  </complexType>
  <element name="LikelihoodOfOccurrence" substitutionGroup="gml:AbstractObject" type="nz-core:LikelihoodOfOccurrenceType">
    <annotation>
      <documentation>-- Definition --
Likelihood is a general concept relating to the chance of an event occurring. 

-- Description --
Likelihood is generally expressed as a probability or a frequency. [EXCIFF].</documentation>
    </annotation>
  </element>
  <complexType name="LikelihoodOfOccurrenceType">
    <sequence>
      <element name="qualitativeLikelihood" nillable="true">
        <annotation>
          <documentation>-- Definition --
A qualitative assessment of the likelihood of occurrence of a hazard. 

-- Description --
Sometimes, this is known as susceptibility.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="quantitativeLikelihood" nillable="true">
        <annotation>
          <documentation>-- Definition --
A frequency of occurence or return period of a hazard phenomenon. 

-- Description --
Sometimes, this is known as susceptibility.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="nz-core:QuantitativeLikelihood"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="assessmentMethod" nillable="true">
        <annotation>
          <documentation>-- Definition --
A citation to the method used to express the likelihood.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="base2:DocumentCitation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="LikelihoodOfOccurrencePropertyType">
    <sequence>
      <element ref="nz-core:LikelihoodOfOccurrence"/>
    </sequence>
  </complexType>
  <element name="NaturalHazardClassification" substitutionGroup="gml:AbstractObject" type="nz-core:NaturalHazardClassificationType">
    <annotation>
      <documentation>-- Definition --
This class provides piece of information about the nature of the natural hazard as well as the type of hazard which is the source of risk.</documentation>
    </annotation>
  </element>
  <complexType name="NaturalHazardClassificationType">
    <sequence>
      <element name="hazardCategory" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
A generic classification of types of natural hazards or risks.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">narrower</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/RiskOrHazardCategory</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="specificHazardType" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
Additional classification of the natural hazard that further specifies the hazard type according to a nomenclature that is specific to this dataset.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NaturalHazardClassificationPropertyType">
    <sequence>
      <element ref="nz-core:NaturalHazardClassification"/>
    </sequence>
  </complexType>
  <element name="ObservedEvent" substitutionGroup="nz-core:AbstractObservedEvent" type="nz-core:ObservedEventType">
    <annotation>
      <documentation>-- Definition --
Discrete spatial objects representing natural phenomenon relevant to the study of natural hazards which occurred, or is currently occuring, and which has been observed.</documentation>
    </annotation>
  </element>
  <complexType name="ObservedEventType">
    <complexContent>
      <extension base="nz-core:AbstractObservedEventType">
        <sequence>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometric representation of the spatial extent covered by the observed event.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="magnitudeOrIntensity" nillable="true">
            <annotation>
              <documentation>-- Definition --
An expression of the magnitude or the intensity of a phenomenon.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:LevelOrIntensity"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ObservedEventPropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:ObservedEvent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ObservedEventCoverage" substitutionGroup="gmlcov:AbstractCoverage" type="nz-core:ObservedEventCoverageType">
    <annotation>
      <documentation>-- Definition --
A coverage representing continuous information about observed events.</documentation>
    </annotation>
  </element>
  <complexType name="ObservedEventCoverageType">
    <complexContent>
      <extension base="gmlcov:AbstractCoverageType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ObservedEventCoveragePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:ObservedEventCoverage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="QuantitativeLikelihood" substitutionGroup="gml:AbstractObject" type="nz-core:QuantitativeLikelihoodType">
    <annotation>
      <documentation>-- Definition --

A frequency of occurrence or return period of a hazard phenomenon.</documentation>
    </annotation>
  </element>
  <complexType name="QuantitativeLikelihoodType">
    <sequence>
      <element name="probabilityOfOccurrence" nillable="true">
        <annotation>
          <documentation>-- Definition --
The probability of occurrence of a hazard event, expressed as a value between 0 and 1. 

-- Description --
This is the inverse value of the return period.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="double">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="returnPeriod" nillable="true">
        <annotation>
          <documentation>-- Definition --
Long-term average interval of time or number of years within which an event will be equalled or exceeded [UNESCO].</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="double">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="QuantitativeLikelihoodPropertyType">
    <sequence>
      <element ref="nz-core:QuantitativeLikelihood"/>
    </sequence>
  </complexType>
  <element name="RiskCoverage" substitutionGroup="gmlcov:AbstractCoverage" type="nz-core:RiskCoverageType">
    <annotation>
      <documentation>-- Definition --
A coverage representation of natural risks.</documentation>
    </annotation>
  </element>
  <complexType name="RiskCoverageType">
    <complexContent>
      <extension base="gmlcov:AbstractCoverageType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RiskCoveragePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:RiskCoverage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RiskZone" substitutionGroup="nz-core:AbstractRiskZone" type="nz-core:RiskZoneType">
    <annotation>
      <documentation>-- Definition --
Discrete spatial objects representing the spatial extent of a combination of the consequences of an event (hazard) and the associated probability/likelihood of its occurrence.</documentation>
    </annotation>
  </element>
  <complexType name="RiskZoneType">
    <complexContent>
      <extension base="nz-core:AbstractRiskZoneType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometric representation of spatial extent covered by this risk zone.</documentation>
            </annotation>
          </element>
          <element name="levelOfRisk" nillable="true">
            <annotation>
              <documentation>-- Definition --
The level of risk is an assessment of the combination of the consequences of an event (hazard) and the associated probability/likelihood of the occurrence of the event.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="nz-core:LevelOrIntensity"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RiskZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nz-core:RiskZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VulnerabilityAssessment" substitutionGroup="gml:AbstractObject" type="nz-core:VulnerabilityAssessmentType">
    <annotation>
      <documentation>-- Definition --
Assessment of the vulnerability.

-- Description --
It contains piece of information about the source the vulnerability, about the level of vulnerability and about the magnitude or intensity of the hazard for which vulnerability is assessed.</documentation>
    </annotation>
  </element>
  <complexType name="VulnerabilityAssessmentType">
    <sequence>
      <element name="sourceOfVulnerability" type="nz-core:NaturalHazardClassificationPropertyType">
        <annotation>
          <documentation>-- Definition --
The type of hazard for which the vulnerability is assessed.</documentation>
        </annotation>
      </element>
      <element name="levelOfVulnerability" nillable="true">
        <annotation>
          <documentation>-- Definition --
Level of vulnerability.

-- Description --
When assessed quantitatively, it is a percentage.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="nz-core:LevelOrIntensity"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="magnitudeOrIntensityOfHazard" nillable="true">
        <annotation>
          <documentation>-- Definition --
An expression of the magnitude or the intensity of a phenomenon.

-- Description --
It may address a value within the Richter scale, or a description of the european macro-seismic scale, or a flood flow, etc...</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="nz-core:LevelOrIntensity"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="typeOfElement" nillable="true">
        <annotation>
          <documentation>-- Definition --
A classification of the exposed element.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="nz-core:ExposedElementClassification"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="VulnerabilityAssessmentPropertyType">
    <sequence>
      <element ref="nz-core:VulnerabilityAssessment"/>
    </sequence>
  </complexType>
</schema>
