schemas/su-core/4.0/StatisticalUnitCore.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:su-core="http://inspire.ec.europa.eu/schemas/su-core/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/su-core/4.0" version="4.0">
  <annotation>
    <documentation>-- Name --
Statistical Units Base

-- Definition --
The base  package. It provides most abstract classes required to link the grid and vector view of statistical units.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="StatisticalUnit" substitutionGroup="gml:AbstractFeature" type="su-core:StatisticalUnitType">
    <annotation>
      <documentation>-- Name --
Statistical unit

-- Definition --
Unit for dissemination or use of statistical information.

-- Description --
SOURCE [INSPIRE Directive:2007].

EXAMPLE grid cell, point, line, polygon.

NOTE Spatial features of any INSPIRE application schema can be considered as a statistical unit, because all can be used as spatial reference. This class is provided to represent features that are used only to disseminate statistical information and that are not included in another INSPIRE application schema.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="StatisticalUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatisticalUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="su-core:StatisticalUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
