inspire/schemas/us-net-tc/4.0/TelecommunicationsNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:us-net-tc="http://inspire.ec.europa.eu/schemas/us-net-tc/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-tc/4.0" version="4.0">
  <annotation>
    <documentation>-- Name --
telecommunications utility network

-- Definition --
Telecommunications network sub-domain.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="../../schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../schemas/ogc/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="TelecommunicationsCable" substitutionGroup="us-net-common:Cable" type="us-net-tc:TelecommunicationsCableType">
    <annotation>
      <documentation>-- Name --
telecommunications cable

-- Definition --
A utility link or link sequence used to convey data signals (PSTN, radio or computer) from one location to another.</documentation>
    </annotation>
  </element>
  <complexType name="TelecommunicationsCableType">
    <complexContent>
      <extension base="us-net-common:CableType">
        <sequence>
          <element name="telecommunicationsCableMaterialType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
telecommunications cable material type

-- Definition --
Type of cable material.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TelecommunicationsCablePropertyType">
    <sequence minOccurs="0">
      <element ref="us-net-tc:TelecommunicationsCable"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
